//color-bg
:root {
  --color-bg-black: rgba(0, 0, 0, 1);
  --color-bg-black-lighten: rgba(0, 0, 0, 0.8);
  --color-bg-white: #ffffff;
  --color-bg-purple: #f4ebff;
  --color-bg-purple-light: #f4ebff;
  --color-bg-purple-dark: #af53ff;
  --color-bg-pink: #ffdbf1;
  --color-bg-pink-darken: #ffebf7;
  --color-bg-pink-light: #fff0f7;
  --color-bg-blue: rgba(70, 130, 255, 1);
  --color-bg-blue-light: #edf3ff;
  --color-bg-green: #45ba6e;
  --color-bg-green-light: #edfcf1;
  --color-bg-gray-light: rgba(0, 0, 0, 0.2);
  --color-bg-gray-super-light: rgba(0, 0, 0, 0.04);
}

//color-icon
:root {
  --color-icon-black: #000000;
  --color-icon-blue: rgba(10, 121, 250, 1);
  --color-icon-cyan: #4fc7ed;
  --color-icon-pink: #f20c92;
  --color-icon-purple: #af53ff;
  --color-icon-green: #50bd5c;
}

//color-text
:root {
  --color-text-primary: #333333;
  --color-text-secondary: rgba(0, 0, 0, 1);
  --color-text-inverse: #ffffff;
  --color-text-blue: #0a79fa;
  --color-text-pink: #eb0081;
  --color-text-purple: #af53ff;
}

//color-stroke
:root {
  --color-stroke-lighten: #d9d9d9;
  --color-stroke-light: rgba(0, 0, 0, 0.25);
  --color-stroke-dark: rgba(0, 0, 0, 0.6);
}

//color-state
:root {
  --color-bg-success: #d7f4da;
  --color-text-success: #2e9c3a;
  --color-bg-error: #fff0f7;
  --color-text-error: #f53963;
}

//border-radius
:root {
  --border-radius-2xs: 12px;
  --border-radius-xs: 18px;
  --border-radius-sm: 20px;
  --border-radius-md: 22px;
  --border-radius-lg: 38px;
  --border-radius-xl: 40px;
  --border-radius-2xl: 44px;
  --border-radius-3xl: 48px;
  --border-radius-half: 99rem;
}

//effects
:root {
  --box-shadow-sm: -2px 25px 33px 1px rgba(0, 0, 0, 0.08),
    0 1px 7px 0 rgba(0, 0, 0, 0.09);
  --box-shadow-md: -2px 25px 33px 1px rgba(0, 0, 0, 0.12),
    0 1px 7px 0 rgba(0, 0, 0, 0.14);
  --box-shadow-lg: -2px 25px 33px 1px rgba(0, 0, 0, 0.12),
    0 6px 15px 0 rgba(0, 0, 0, 0.18);
  --box-shadow-mobile-nav: 0 9px 24px 0 rgba(0, 0, 0, 0.12),
    0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.09);

  --box-shadow-purple-xl: -2px 25px 33px 1px rgb(137 1 167 / 14%),
    0 1px 7px 0 rgb(149 2 119 / 20%);
}

// transitions
:root {
  --transition-time: 0.3s;
}

//container max widths
// :root {
//   --container-width-sm: 520px;
//   --container-width-md: 688px;
//   --container-width-lg: 820px;
//   --container-width-xl: 1042px;
// }

// z-index
:root {
  --layer-1: 1;
  --layer-2: 2;
  --layer-3: 3;
  --layer-4: 4;
  --layer-5: 5;
  --layer-6: 6;
}

//font
:root {
  --font-family: Montserrat, 'Open Sans', FranklinGothic, 'Helvetica Neue',
    Helvetica, Arial, sans-serif;
}

//other
:root {
  --skew-angle: 5deg;
}

// Grid breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 600px,
  md: 768px,
  lg: 900px,
  xl: 1280px,
  xxl: 1440px,
  xxxl: 1920px,
) !default;

// @include _assert-ascending($grid-breakpoints, '$grid-breakpoints');
// @include _assert-starts-at-zero($grid-breakpoints, '$grid-breakpoints');

// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 520px,
  md: 688px,
  lg: 820px,
  xl: 1042px,
) !default;

// @include _assert-ascending($container-max-widths, '$container-max-widths');

// Container padding
:root {
  --container-padding-x: 20px;
}
