//global
@import 'global/functions';
@import 'global/utils';
@import 'global/breakpoints';
@import 'global/mixins';

//settings
@import 'settings';

//transitions
@import 'transitions';

//components
@import 'components/utils';
@import 'components/text';
@import 'components/page-section';
@import 'components/br';
@import 'components/modal';
@import 'components/form';

html,
body {
  height: 100%;
  font-family: var(--font-family);
  font-size: 13px;
  line-height: 14px;
  color: var(--color-text-primary);
  //scroll-behavior: smooth;
}

b {
  font-weight: 500;
}

//media query + scrollbar fix in safari
@media screen and (min-color-index: 0) and(-webkit-min-device-pixel-ratio:0) {
  html {
    overflow: hidden;
    height: 100%;
  }

  body {
    position: relative;
    overflow-y: scroll;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    /* So iOS Safari gets the inertia & rubber-band effect */
  }
}

div[id="__layout"] {
  overflow: hidden;
}