.page-section {
  --container-cut: 15px;

  position: relative;
  background: var(--color-bg-white);

  @include media-breakpoint-up(xl) {
    --container-cut: 40px;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background: inherit;
    transform: skewY(var(--skew-angle));
    z-index: var(--layer-1);
  }

  &::before {
    top: -90px;
  }

  &::after {
    top: unset;
    bottom: 0;
    height: 120px;
  }

  &_skew_inverse {

    &::before,
    &::after {
      --inverse-angle: calc(-1 * var(--skew-angle));

      transform: skewY(var(--inverse-angle));
    }
  }

  &_skew_inverse-top {
    &::before {
      --inverse-angle: calc(-1 * var(--skew-angle));

      transform: skewY(var(--inverse-angle));
    }
  }

  &_skew_inverse-bottom {
    &::after {
      --inverse-angle: calc(-1 * var(--skew-angle));

      transform: skewY(var(--inverse-angle));
    }
  }

  &_skew_no {

    &::before,
    &::after {
      display: none;
    }
  }

  &_skew_no-top {
    &::before {
      display: none;
    }
  }

  &_skew_no-bottom {
    &::after {
      display: none;
    }
  }

  &__container {
    @include container();

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include media-breakpoint-up(sm) {
      align-items: center;
      text-align: center;
    }

    .page-section_type_cut & {
      @include media-breakpoint-up(xl) {
        padding-right: calc(var(--container-padding-x) - var(--container-cut));
      }
    }

    .page-section_type_slider & {
      --max-width: 100%;

      @include media-breakpoint-up(sm) {
        max-width: var(--max-width);
      }

      @include media-breakpoint-up(md) {
        max-width: var(--max-width);
      }

      @include media-breakpoint-up(lg) {
        max-width: var(--max-width);
      }
    }

    .page-section_type_reviews & {
      --container-width-lg: 820px;
      --container-width-xl: 962px;
      --container-width-xxxl: 1118px;

      max-width: 100%;

      @include media-breakpoint-up(sm) {
        padding-right: 20px;
        padding-left: 20px;
      }

      @include media-breakpoint-up(md) {
        padding-right: var(--container-padding-x);
        padding-left: var(--container-padding-x);
      }

      @media (min-width: 1045px) {
        max-width: var(--container-width-xxxl);
      }
    }
  }

  &__title {
    .page-section_type_cut & {
      @include media-breakpoint-up(xl) {
        margin-left: calc(-1 * var(--container-cut));
      }
    }
  }

  &__text {
    .page-section_type_cut & {
      @include media-breakpoint-up(xl) {
        margin-left: calc(-1 * var(--container-cut));
      }
    }
  }

  &__btn {
    .page-section_type_cut & {
      @include media-breakpoint-up(xl) {
        margin-left: calc(-1 * var(--container-cut));
      }
    }
  }

  &__notice {
    margin: 16px 0 24px 0;
    align-self: center;
    z-index: var(--layer-2);

    @include media-breakpoint-up(sm) {
      margin-bottom: 26px;
    }

    @include media-breakpoint-up(md) {
      // margin-top: 52px;
      // margin-left: -6px;
      margin-top: 55px;
      margin-left: 0;
    }

    @include media-breakpoint-up(lg) {
      // margin-top: 43px;
      margin-top: 45px;
    }

    // @include media-breakpoint-up(xl) {
    //   margin-left: -52px;
    // }

    // @include media-breakpoint-up(xxl) {
    //   margin-left: -35px;
    // }
  }

  &__shift {
    position: relative;

    @include media-breakpoint-up(xl) {
      //margin-left: -43px;
      margin-left: -41px;
    }
  }

  &__icon {
    display: inline-block;
    margin-bottom: 24px;
  }

  &__button {
    position: relative;
    margin-top: 20px;
    width: 100%;
    max-width: 320px;

    @include media-breakpoint-up(sm) {
      margin-top: 36px;
    }

    &_type_top {
      margin-right: auto;
      margin-left: auto;

      @include media-breakpoint-up(md) {
        max-width: 304px;
      }

      @include media-breakpoint-up(xl) {
        //left: -20px;
      }
    }
  }

  &__box {
    position: relative;
    z-index: var(--layer-2);
    box-sizing: border-box;
    width: 100%;
    max-width: 860px;
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg-white);

    &_type_one {
      @include media-breakpoint-up(sm) {
        align-items: center;
      }

      @include media-breakpoint-up(md) {
        padding: 90px 40px 50px;
        border-radius: var(--border-radius-lg);
        box-shadow: var(--box-shadow-sm);
      }

      @include media-breakpoint-up(lg) {
        max-width: 940px;
      }

      @include media-breakpoint-up(xl) {
        padding-right: 60px;
        padding-left: 60px;
      }
    }

    &_type_two {
      padding: 56px 20px 58px;
      border-radius: var(--border-radius-lg);
      box-shadow: -2px 35px 53px 1px rgba(0, 0, 0, 0.08),
        0 1px 7px 0 rgba(0, 0, 0, 0.09);

      @include media-breakpoint-up(sm) {
        padding-right: 40px;
        padding-left: 40px;
        align-items: center;
      }

      @include media-breakpoint-up(md) {
        padding-top: 66px;
      }

      @include media-breakpoint-up(lg) {
        max-width: 940px;
      }
    }
  }

  &__box-wrap {
    position: relative;
    margin-top: 40px;
    padding-top: 77px;
    padding-bottom: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up(sm) {
      align-items: center;
    }

    @include media-breakpoint-up(md) {
      margin-top: 83px;
      padding-top: 46px;
      padding-bottom: 0;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -20vw;
      right: -20vw;
      height: 100%;
      transform: rotate3d(0, 0, 1, 5deg);
      background-color: var(--color-bg-pink-light);

      @include media-breakpoint-up(md) {
        top: 0;
        bottom: -60px;
        left: -100px;
        right: -100px;
        height: unset;
        transform: unset;
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: -43px;
      right: -65px;
      left: -65px;
      height: 85px;
      display: none;
      transform: rotate3d(0, 0, 1, 5deg);
      background-color: var(--color-bg-pink-light);

      @include media-breakpoint-up(md) {
        display: block;
      }
    }

    &_skew_no {

      &::before,
      &::after {
        transform: none;
      }
    }
  }

  &__prompt {
    margin-right: auto;
    margin-left: auto;
  }

  &__row {
    position: relative;
    width: 100%;
  }

  &__col {
    position: relative;

    @include media-breakpoint-up(sm) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &_with_media {
      @include content-center();
    }
  }

  //icon's shift
  &_type_cut &__container>.icon {
    @include media-breakpoint-up(xl) {
      margin-left: calc(-1 * var(--container-cut));
    }
  }
}
