.text {
  position: relative;
  margin: 0;
  display: block;
  font-style: normal;
  font-weight: normal;
  z-index: var(--layer-2);

  //-------------------- Title ---------------------

  &[class~='text_type_title.level_1'] {
    margin-bottom: 16px;
    font-size: 29px;
    line-height: 38px;
    letter-spacing: -0.5px;

    @include media-breakpoint-up(md) {
      font-size: 38px;
      line-height: 48px;
      letter-spacing: -1.16px;
    }

    @include media-breakpoint-up(lg) {
      max-width: 840px;
    }
  }

  &[class~='text_type_title.level_2'] {
    margin-bottom: 23px;
    font-size: 20.2px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -0.69px;
  }

  &[class~='text_type_title.level_3'] {
    margin-bottom: 8px;
    font-size: 18.2px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.62px;

    @include media-breakpoint-up(md) {
      font-size: 20.2px;
      line-height: 35px;
      letter-spacing: -0.69px;
    }

    &[class~='text_size_lg.on_screen_sm'] {
      @include media-breakpoint-up(sm) {
        font-size: 20.2px;
        line-height: 35px;
        letter-spacing: -0.69px;
      }
    }
  }

  //-------------------- Text ---------------------

  &_level_1 {
    margin-bottom: 16px;
    font-size: 18.2px;
    font-weight: 300;
    line-height: 28px;
    //letter-spacing: -0.36px;
    letter-spacing: -0.26px;

    @include media-breakpoint-up(sm) {
      max-width: 520px;
    }

    @include media-breakpoint-up(md) {
      max-width: unset;
      font-size: 20.2px;
      line-height: 32px;
      letter-spacing: -0.4px;
    }

    @include media-breakpoint-up(xl) {
      max-width: 840px;
    }

    &.text_before_button {
      margin-bottom: 36px;
    }

    &.text_ls_sm {
      letter-spacing: -0.36px;

      @include media-breakpoint-up(md) {
        letter-spacing: -0.4px;
      }
    }
  }

  &_level_2 {
    margin-bottom: 28px;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: -0.2px;

    @include media-breakpoint-up(md) {
      letter-spacing: -0.59px;
    }

    &.text_lh_24 {
      line-height: 24px;
    }

    &.text_lh_32 {
      line-height: 32px;
    }
  }

  &_level_3 {
    margin-bottom: 24px;
    font-size: 15.2px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: -0.2px;

    //@include media-breakpoint-up(sm) {
    //  max-width: 520px;
    //}

    @include media-breakpoint-up(md) {
      font-size: 17.2px;
      line-height: 26px;
      letter-spacing: -0.59px;
    }

    &[class~='text_increase_no.on_screen_md'] {
      @include media-breakpoint-up(md) {
        font-size: 15.2px;
        line-height: 24px;
        letter-spacing: -0.2px;
      }
    }
  }

  &_in_prompt {
    margin: 0 0 10px 0;
    font-size: 14.8px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.4px;
    color: var(--color-text-inverse);

    @include media-breakpoint-up(md) {
      font-size: 16.1px;
      letter-spacing: -0.55px;
    }

    &.text_size_lg {
      font-size: 16.1px;
      letter-spacing: -0.61px;

      @include media-breakpoint-up(md) {
        letter-spacing: -0.55px;
      }
    }
  }

  &_in_rate-box {
    font-size: 15.2px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: -0.2px;

    @include media-breakpoint-up(md) {
      font-size: 16.1px;
      line-height: 26px;
      letter-spacing: -0.55px;
    }
  }

  //-------------------- Max width ---------------------

  &[class~='text_width_520'] {
    max-width: 520px;
  }

  &[class~='text_width_740.on_screen_lg'] {
    @include media-breakpoint-up(lg) {
      max-width: 740px;
    }
  }

  &[class~='text_width_820.on_screen_lg'] {
    @include media-breakpoint-up(lg) {
      max-width: 820px;
    }
  }

  &[class~='text_width_840.on_screen_lg'] {
    @include media-breakpoint-up(lg) {
      max-width: 820px;
    }
  }

  //-------------------- Align ---------------------

  &_align_center {
    text-align: center;
    align-self: center;
  }

  &[class~='text_align_center.on_screen_sm'] {
    @include media-breakpoint-up(sm) {
      text-align: center;
      align-self: center;
    }
  }

  //-------------------- Display ---------------------

  &_display_inline {
    display: inline;
  }

  &[class~='text_display_inline.on_screen_sm'] {
    @include media-breakpoint-up(sm) {
      display: inline;
    }
  }

  &[class~='text_display_inline.on_screen_lg'] {
    @include media-breakpoint-up(lg) {
      display: inline;
    }
  }

  &[class~='text_display_block.on_screen_lg'] {
    @include media-breakpoint-up(lg) {
      display: block;
    }
  }

  &[class~='text_display_inline.on_screen_xl'] {
    @include media-breakpoint-up(xl) {
      display: inline;
    }
  }

  //-------------------- Max width ---------------------

  &[class~='text_max-width_520.on_screen_md'] {
    @include media-breakpoint-up(md) {
      max-width: 520px;
    }
  }

  &[class~='text_max-width_820.on_screen_lg'] {
    @include media-breakpoint-up(lg) {
      max-width: 820px;
    }
  }

  //-------------------- Margin bottom ---------------------

  &.text_mgb_no {
    margin-bottom: 0;
  }

  &.text_mgb_5 {
    margin-bottom: 5px;
  }

  &.text_mgb_8 {
    margin-bottom: 8px;
  }

  &.text_mgb_14 {
    margin-bottom: 14px;
  }

  &.text_mgb_16 {
    margin-bottom: 16px;
  }

  &.text_mgb_18 {
    margin-bottom: 18px;
  }

  &.text_mgb_30 {
    margin-bottom: 30px;
  }

  &.text_mgb_34 {
    margin-bottom: 34px;
  }

  &.text_mgb_40 {
    margin-bottom: 40px;
  }

  &.text_mgb_42 {
    margin-bottom: 42px;
  }

  &.text_mgb_50 {
    margin-bottom: 50px;
  }

  &.text_mgb_60 {
    margin-bottom: 60px;
  }

  &.text_mgb_80 {
    margin-bottom: 80px;
  }

  &[class~='text_mgb_no.on_screen_sm'] {
    @include media-breakpoint-up(sm) {
      margin-bottom: 0;
    }
  }

  &[class~='text_mgb_16.on_screen_sm'] {
    @include media-breakpoint-up(sm) {
      margin-bottom: 16px;
    }
  }

  &[class~='text_mgb_48.on_screen_sm'] {
    @include media-breakpoint-up(sm) {
      margin-bottom: 48px;
    }
  }

  &[class~='text_mgb_no.on_screen_md'] {
    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }
  }

  &[class~='text_mgb_8.on_screen_md'] {
    @include media-breakpoint-up(md) {
      margin-bottom: 8px;
    }
  }

  &[class~='text_mgb_34.on_screen_md'] {
    @include media-breakpoint-up(md) {
      margin-bottom: 34px;
    }
  }

  &[class~='text_mgb_36.on_screen_md'] {
    @include media-breakpoint-up(md) {
      margin-bottom: 36px;
    }
  }

  &[class~='text_mgb_40.on_screen_md'] {
    @include media-breakpoint-up(md) {
      margin-bottom: 40px;
    }
  }

  &[class~='text_mgb_42.on_screen_md'] {
    @include media-breakpoint-up(md) {
      margin-bottom: 42px;
    }
  }

  &[class~='text_mgb_44.on_screen_md'] {
    @include media-breakpoint-up(md) {
      margin-bottom: 44px;
    }
  }

  &[class~='text_mgb_46.on_screen_md'] {
    @include media-breakpoint-up(md) {
      margin-bottom: 46px;
    }
  }

  &[class~='text_mgb_50.on_screen_md'] {
    @include media-breakpoint-up(md) {
      margin-bottom: 50px;
    }
  }

  &[class~='text_mgb_52.on_screen_md'] {
    @include media-breakpoint-up(md) {
      margin-bottom: 52px;
    }
  }

  &[class~='text_mgb_60.on_screen_md'] {
    @include media-breakpoint-up(md) {
      margin-bottom: 60px;
    }
  }

  &[class~='text_mgb_80.on_screen_md'] {
    @include media-breakpoint-up(md) {
      margin-bottom: 80px;
    }
  }

  &[class~='text_mgb_no.on_screen_lg'] {
    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
    }
  }

  &[class~='text_mgb_34.on_screen_lg'] {
    @include media-breakpoint-up(lg) {
      margin-bottom: 34px;
    }
  }

  &[class~='text_mgb_60.on_screen_lg'] {
    @include media-breakpoint-up(lg) {
      margin-bottom: 60px;
    }
  }

  &[class~='text_mgb_82.on_screen_lg'] {
    @include media-breakpoint-up(lg) {
      margin-bottom: 82px;
    }
  }

  &[class~='text_mgb_86.on_screen_lg'] {
    @include media-breakpoint-up(lg) {
      margin-bottom: 86px;
    }
  }

  &[class~='text_mgb_22.on_screen_xl'] {
    @include media-breakpoint-up(xl) {
      margin-bottom: 22px;
    }
  }

  &[class~='text_mgb_50.on_screen_xl'] {
    @include media-breakpoint-up(xl) {
      margin-bottom: 50px;
    }
  }

  &[class~='text_mgb_60.on_screen_xl'] {
    @include media-breakpoint-up(xl) {
      margin-bottom: 60px;
    }
  }

  &[class~='text_mgb_no.on_screen_md'] {
    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }
  }

  //-------------------- Text width ---------------------

  &[class~='text_width_400.on_screen_md'] {
    @include media-breakpoint-up(md) {
      max-width: 400px;
    }
  }

  &[class~='text_width_540.on_screen_sm'] {
    @include media-breakpoint-up(md) {
      max-width: 540px;
    }
  }

  &[class~='text_width_820.on_screen_lg'] {
    @include media-breakpoint-up(md) {
      max-width: 820px;
    }
  }

  &[class~='text_width_840.on_screen_lg'] {
    @include media-breakpoint-up(md) {
      max-width: 840px;
    }
  }

  &[class~='text_width_full.on_screen_md'] {
    @include media-breakpoint-up(md) {
      max-width: unset;
    }
  }

  //-------------------- Line-height ---------------------

  &.text_lh_22 {
    line-height: 22px;
  }

  &.text_lh_32 {
    line-height: 32px;
  }

  &[class~='text_lh_32.on_screen_md'] {
    @include media-breakpoint-up(md) {
      line-height: 32px;
    }
  }

  &[class~='text_lh_28.on_screen_md'] {
    @include media-breakpoint-up(md) {
      line-height: 28px;
    }
  }

  //-------------------- Letter - spacing ---------------------

  &_ls_no {
    letter-spacing: 0;
  }

  //-------------------- Color ---------------------

  &_color_pink {
    color: var(--color-text-pink);
  }

  &_color_purple {
    color: var(--color-text-purple);
  }

  //-------------------- Weight ---------------------

  &_weight_bold {
    font-weight: 500;
  }

  //margin-bottom
  //&_mgb_xs {
  //  margin-bottom: 8px;
  //}
  //
  //&_mgb_sm {
  //  margin-bottom: 16px;
  //}
  //
  //&_mgb_md {
  //  margin-bottom: 24px;
  //}
  //
  //&_mgb_lg {
  //  margin-bottom: 36px;
  //}
  //
  //&_mgb_xl {
  //  margin-bottom: 42px;
  //}
  //
  //&_mgb_2xl {
  //  margin-bottom: 60px;
  //}

  //
  //// font-size
  //&_size_xs {
  //  font-size: 12.4px;
  //}
  //
  //&_size_sm {
  //  font-size: 13.2px;
  //}
  //
  //&_size_md {
  //  font-size: 14.4px;
  //}
  //
  //&_size_lg {
  //  font-size: 15.2px;
  //}
  //
  //&_size_xl {
  //  font-size: 17.2px;
  //}
  //
  //&_size_2xl {
  //  font-size: 18.2px;
  //}
  //
  //&_size_3xl {
  //  font-size: 29px;
  //}
  //
  //// line-height
  //&_lh_2xs {
  //  line-height: 16px;
  //}
  //
  //&_lh_xs {
  //  line-height: 20px;
  //}
  //
  //&_lh_sm {
  //  line-height: 22px;
  //}
  //
  //&_lh_md {
  //  line-height: 24px;
  //}
  //
  //&_lh_lg {
  //  line-height: 28px;
  //}
  //
  //&_lh_xl {
  //  line-height: 32px;
  //}
  //
  //&_lh_2xl {
  //  line-height: 38px;
  //}
  //
  //// letter-spacing
  //&_ls-neg_xxxs {
  //  letter-spacing: -0.62px;
  //}
  //
  //&_ls-neg_xxs {
  //  letter-spacing: -0.6px;
  //}
  //
  //&_ls-neg_xs {
  //  letter-spacing: -0.5px;
  //}
  //
  //&_ls-neg_sm {
  //  letter-spacing: -0.2px;
  //}
  //
  //&_ls-neg_md {
  //  letter-spacing: -0.17px;
  //}
  //
  //&_ls-neg_lg {
  //  letter-spacing: -0.25px;
  //}
  //
  //// transform
  //&_transform_uppercase {
  //  text-transform: uppercase;
  //}
  //

  // weight
  &_weight_light {
    font-weight: 300;
  }

  &_weight_bold {
    font-weight: 500;
  }

  &_weight_semi-bold {
    font-weight: 600;
  }

  //
  ////--------------------breakpoint MD---------------------
  //
  //// margin-bottom
  //
  //&_mb_md {
  //  @include media-breakpoint-up(md) {
  //    margin-bottom: 40px;
  //  }
  //}
  //
  //&_mb_lg {
  //  @include media-breakpoint-up(md) {
  //    margin-bottom: 60px;
  //  }
  //}
  //
  //&_mb_xl {
  //  @include media-breakpoint-up(md) {
  //    margin-bottom: 80px;
  //  }
  //}
  //
  //// font-size
  //&_screen_md_size_md {
  //  @include media-breakpoint-up(md) {
  //    font-size: 16.1px;
  //  }
  //}
  //
  //&_screen_md_size_lg {
  //  @include media-breakpoint-up(md) {
  //    font-size: 17.2px;
  //  }
  //}
  //
  //&_screen_md_size_xl {
  //  @include media-breakpoint-up(md) {
  //    font-size: 20.2px;
  //  }
  //}
  //
  //&_screen_md_size_xxl {
  //  @include media-breakpoint-up(md) {
  //    font-size: 38px;
  //  }
  //}
  //
  //// line-height
  //&_screen_md_lh_xs {
  //  @include media-breakpoint-up(md) {
  //    line-height: 26px;
  //  }
  //}
  //
  //&_screen_md_lh_sm {
  //  @include media-breakpoint-up(md) {
  //    line-height: 26px;
  //  }
  //}
  //
  //&_screen_md_lh_md {
  //  @include media-breakpoint-up(md) {
  //    line-height: 32px;
  //  }
  //}
  //
  //&_screen_md_lh_xxl {
  //  @include media-breakpoint-up(md) {
  //    line-height: 48px;
  //  }
  //}
  //
  //// letter-spacing
  //&_screen_md_ls-neg_xs {
  //  @include media-breakpoint-up(md) {
  //    letter-spacing: -0.6px;
  //  }
  //}
  //
  //&_screen_md_ls-neg_sm {
  //  @include media-breakpoint-up(md) {
  //    letter-spacing: -1.16px;
  //  }
  //}
  //
  //&_screen_md_ls-neg_md {
  //  @include media-breakpoint-up(md) {
  //    letter-spacing: -0.55px;
  //  }
  //}
  //
  //&_screen_md_ls-neg_lg {
  //  @include media-breakpoint-up(md) {
  //    letter-spacing: -0.4px;
  //  }
  //}
}

[class~='u-overflow-hidden'] {
  overflow: hidden;
}

[class~='u_overflow_hidden.on_screen_md'] {
  @include media-breakpoint-up(md) {
    overflow: hidden;
  }
}

// [class~='u-max-width_688.on_screen_md'] {
//   @include media-breakpoint-up(md) {
//     max-width: 688px;
//   }
// }

 [class~='u-max-width-840.on_screen_lg'] {
   @include media-breakpoint-up(lg) {
     max-width: 840px;
   }
 }

 [class~='u-max-width-820.on_screen_lg'] {
   @include media-breakpoint-up(lg) {
     max-width: 820px;
   }
 }

//[class~='u-shift-left.on_screen_xl'] {
//  @include media-breakpoint-up(xl) {
//    margin-left: -41px;
//  }
//}
