<template>
  <div class="swiper-box">
    <div ref="swiper" class="swiper">
      <div class="swiper-wrapper">
        <div v-for="review in reviews" :key="review.name" class="swiper-slide">
          <BaseReviewCard :data="review" />
        </div>
      </div>
      <!-- If we need pagination -->
      <!-- <div class="swiper-pagination"></div> -->

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</template>

<script lang="js">
import Swiper, { Navigation, Pagination } from 'swiper'

import 'swiper/swiper-bundle.min.css'
import 'swiper/swiper.min.css'

import 'swiper/components/navigation/navigation.min.css'
import 'swiper/components/pagination/pagination.min.css'

// Import Swiper styles
export default {
  props: {
    reviews: {
      type: Array,
      default() {
        return []
      }
    }
  },
  data() {
    return {
      slider: null
    }
  },
  mounted() {
    this.slider = new Swiper(this.$refs.swiper, {
      modules: [Navigation, Pagination],
      // loop: true,
      freeMode: true,
      freeModeMinimumVelocity: 0.2,
      freeModeMomentum: false,
      sticky: true,
      slidesPerView: 'auto',
      spaceBetween: 20,

      // If we need pagination
      // pagination: {
      //   el: '.swiper-pagination',
      // },

      // Navigation arrows
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },

      // And if we need scrollbar
      scrollbar: {
        el: '.swiper-scrollbar',
      },
    })
  },
  methods: {
    onResize() {
      const breakPointMatched = false;

      if (breakPointMatched) {
        this.swiper.disable();
      } else {
        this.swiper.enable();
      }
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.swiper-box {
  position: relative;
  z-index: 2;
  width: 100%;

  @include media-breakpoint-up(md) {
    //margin-top: -19px;
    margin-top: -7px;
  }
}

.swiper {
  position: relative;
  padding: 73px var(--container-padding-x) 60px;
  left: calc(-1 * var(--container-padding-x));
  width: 100%;

  @include media-breakpoint-up(md) {
    padding-top: 63px;
  }

  @media (min-width: 1045px) {
    padding-right: 0;
    padding-left: 0;
    overflow: unset;
    left: unset;
  }

  &-wrapper {
    @media (min-width: 1045px) {
      display: flex;
      justify-content: center;
    }
  }

  &-slide {
    width: 320px !important;
  }

  &-button {
    @include btn-default();

    position: absolute;
    top: 27px;
    z-index: 10;
    cursor: pointer;

    @include media-breakpoint-up(md) {
      display: none;
    }

    @include focus {
      outline: none;
    }

    &-prev {
      left: 0;
    }

    &-next {
      right: 0;
    }

    &-disabled {
      cursor: not-allowed;
    }

    svg {
      --icon-color: var(--blue-dark-color);

      @include hover() {
        --icon-color: var(--blue-dark-color);
      }
    }

    &-disabled svg {
      --icon-color: rgba(0, 0, 0, 0.3);

      @include hover() {
        --icon-color: rgba(0, 0, 0, 0.3);
      }
    }
  }
}

//::v-deep .swiper {
//  @include media-breakpoint-up(xxl) {
//    margin-left: 6px;
//  }
//}

::v-deep .swiper .swiper-button-prev,
::v-deep .swiper .swiper-button-next {
  top: 48px;
  width: 48px;
  height: 38px;

  &::after {
    content: '';
    width: inherit;
    height: inherit;
    background-repeat: no-repeat;
    color: var(--color-bg-blue);
    // background-color: var(--color-bg-blue);
    // background-color: red;
  }

  @media (min-width: 1045px) {
    display: none;
  }
}

::v-deep .swiper .swiper-button-prev {
  // left: var(--container-padding-x);
  left: 4px;

  &::after {
    content: '';
    background-image: url('~@/assets/images/arrow-left.svg');
  }

  @include media-breakpoint-up(sm) {
    // left: calc(var(--container-padding-x) + 20px);
    left: 44px;
  }
}

::v-deep .swiper .swiper-button-next {
  right: 4px;

  &::after {
    background-image: url('~@/assets/images/arrow-right.svg');
  }

  @include media-breakpoint-up(sm) {
    // right: calc(var(--container-padding-x) + 20px);
    right: 44px;
  }
}

::v-deep .swiper .swiper-slide {
  @include media-breakpoint-up(xxl) {
    margin-right: 40px !important;
  }
}

::v-deep .swiper .swiper-slide:last-child {
  @media (min-width: 1045px) {
    margin-right: 0 !important;
  }

  @include media-breakpoint-up(xxl) {
    margin-right: 0 !important;
  }
}
</style>
