<template>
  <svg-icon
    :name="name"
    :class="{
      ['icon_color_' + color]: color && !currentColor,
      ['icon_size_' + size]: size,
      ['icon_mgb_' + bottomSpace]: bottomSpace,
    }"
    :width="width"
    :height="height"
  />
</template>

<script>
export default {
  props: {
    name: {
      type: String,
      default: '',
    },
    width: {
      type: String,
      default: '',
    },
    height: {
      type: String,
      default: '',
    },
    size: {
      type: String,
      default: '',
    },
    color: {
      type: String,
      default: '',
    },
    currentColor: {
      type: Boolean,
      default: false,
    },
    bottomSpace: {
      type: String,
      default: '',
    },
  },
}
</script>

<style scoped lang="scss">
.icon {
  position: relative;
  display: inline-block;
  z-index: var(--layer-2);

  &_color_purple {
    color: var(--color-icon-purple);
  }

  &_color_pink {
    color: var(--color-icon-pink);
  }

  &_color_blue {
    color: var(--color-icon-blue);
  }

  &_color_cyan {
    color: var(--color-icon-cyan);
  }

  &_color_green {
    color: var(--color-icon-green);
  }

  &_color_black {
    color: var(--color-icon-black);
  }

  &_mgb_xs {
  }

  &_mgb_sm {
    margin-bottom: 12px;
  }

  &_mgb_md {
    margin-bottom: 16px;
  }

  &_mgb_xl {
    margin-bottom: 24px;
  }
}
</style>
