<template>
  <div>
    <article class="video" :class="{ video_state_loaded: isPlayerLoaded }">
      <el-scrollbar>
        <ul class="video__nav">
          <li
            class="video__item"
            :class="{
              video__item_is_active:
                currentTimeStamp === TimeStampOrder.StepOne,
            }"
            @click="setCurrentTime(TimeStampValue.StepOne)"
          >
            <span
              >Клиент выбирает товар<br class="br br--show-xs" />
              и переходит к оплате</span
            >
          </li>
          <li
            class="video__item"
            :class="{
              video__item_is_active:
                currentTimeStamp === TimeStampOrder.StepTwo,
            }"
            @click="setCurrentTime(TimeStampValue.StepTwo)"
          >
            <span
              >Клиент вводит данные карты<br class="br br--show-xs" />
              и получает чек на email</span
            >
          </li>
          <li
            class="video__item"
            :class="{
              video__item_is_active:
                currentTimeStamp === TimeStampOrder.StepThree,
            }"
            @click="setCurrentTime(TimeStampValue.StepThree)"
          >
            <span
              >Клиент может сразу сообщить<br class="br br--show-xs" />
              о покупке через кнопки связи</span
            >
          </li>
          <li
            class="video__item"
            :class="{
              video__item_is_active:
                currentTimeStamp === TimeStampOrder.StepFour,
            }"
            @click="setCurrentTime(TimeStampValue.StepFour)"
          >
            <span
              >Вам приходит уведомление<br class="br br--show-xs" />
              на email и в личный кабинет</span
            >
          </li>
        </ul>
      </el-scrollbar>
      <div class="video__content">
        <video id="player" ref="player" playsinline controls></video>
      </div>
    </article>
  </div>
</template>

<script lang="js">
import Plyr from "plyr";

export default {
  props: {
    options: {
      type: Object,
      default() {
        return {};
      }
    }
  },
  data() {
    return {
      TimeStampOrder: {
        StepOne: 1,
        StepTwo: 2,
        StepThree: 3,
        StepFour: 4,
      },
      TimeStampValue: {},
      TimeStampValueMobile: {
        StepOne: 0,
        Steptwo: 5.30,
        StepThree: 25.10,
        StepFour: 33.20,
      },
      TimeStampValueDesktop: {
        StepOne: 0,
        StepTwo: 7.28,
        StepThree: 31.09,
        StepFour: 41.36,
      },
      player: null,
      isPlayerLoading: false,
      isPlayerLoaded: false,
      isTimeStampLoading: false,
      isMobileScreen: false,
      currentTime: 0,
      currentTimeStamp: 0,
      canPlayEvents: []
    }
  },
  watch: {
    isMobileScreen: {
      handler(isMobile) {
        this.currentTimeStamp = 0;
        this.canPlayEvents = [];
        this.isPlayerLoaded = false;
        this.setTimeStampValue(isMobile);
        this.loadVideo(isMobile);
      }
    },
    currentTime: {
      handler(time) {
        if (time >= this.TimeStampValue.StepOne && time < this.TimeStampValue.StepTwo) {
          this.currentTimeStamp = this.TimeStampOrder.StepOne;
        } else if (time >= this.TimeStampValue.StepTwo && time < this.TimeStampValue.StepThree) {
          this.currentTimeStamp = this.TimeStampOrder.StepTwo;
        } else if (time >= this.TimeStampValue.StepThree && time < this.TimeStampValue.StepFour) {
          this.currentTimeStamp = this.TimeStampOrder.StepThree;
        } else if (time >= this.TimeStampValue.StepFour) {
          this.currentTimeStamp = this.TimeStampOrder.StepFour;
        }
      }
    }
  },
  created() {
    if (process.client) {
      window.addEventListener("resize", this.resizeHandler);
    }
  },
  unmounted() {
    if (process.client) {
      window.removeEventListener("resize", this.resizeHandler);
    }
  },
  mounted() {

    this.player = new Plyr(`#${this.$refs.player.id}`, {
      controls: ['play-large']
    });

    this.player.on('timeupdate', () => {
      this.currentTime = this.player.currentTime;
    });

    this.player.on('ended', () => {
      this.currentTimeStamp = '';
    });

    this.player.on('seeking', () => {
      this.isTimeStampLoading = true;
    });

    this.player.on('seeked', () => {
      this.isTimeStampLoading = false;
    });

    this.player.on('canplaythrough', (data) => {
      this.isPlayerLoaded = true;
    });

    this.isMobileScreen = window.matchMedia(`(max-width: 1279px)`).matches;

    this.setTimeStampValue(this.isMobileScreen);
    this.loadVideo(this.isMobileScreen);
  },
  beforeUnmount() {
    if (this.player) {
      this.player.destroy();
    }

    this.canPlayEvents = [];
  },
  methods: {
    setCurrentTime(time) {
      this.player.currentTime = time;
      this.player.play();
    },
    resizeHandler(e) {
      if (process.client) {
        this.isMobileScreen = window.matchMedia(`(max-width: 1279px)`).matches;
      }
    },
    loadVideo(isMobile) {
      if (isMobile) {
        this.player.source = {
          type: 'video',
          title: 'Mobile video',
          // poster: require(`@/assets/images/vkontakte-page/bg-video-mobile.jpg`),
          sources: [
            {
              src: require(`@/assets/videos/vk/mobile.mp4`),
              type: 'video/mp4',
              size: 720,
            }
          ]
        }
      } else {
        this.player.source = {
          type: 'video',
          title: 'Desktop video',
          // poster: require(`@/assets/images/vkontakte-page/bg-video-desktop.jpg`),
          sources: [
            {
              src: require(`@/assets/videos/vk/desktop.mp4`),
              type: 'video/mp4',
              size: 720,
            }
          ]
        }
      }
    },
    setTimeStampValue(isMobile) {
      if (isMobile) {
        this.TimeStampValue = this.TimeStampValueMobile;
      } else {
        this.TimeStampValue = this.TimeStampValueDesktop;
      }
    }
  }
}
</script>

<style scoped lang="scss">
.video {
  //--plyr-color-main: red;
  //--plyr-menu-color: green;
  //--plyr-menu-shadow: none;
  //--plyr-control-icon-size: 70px;
  //--plyr-video-controls-background: var(--color-bg-pink);
  --plyr-video-background: transparent;

  position: relative;
  z-index: var(--layer-2);
  width: 100%;
  padding-top: 812px;

  @include media-breakpoint-up(sm) {
    padding-top: 115px;
  }

  &__nav {
    @include list-clear();

    margin-left: 20px;
    display: grid;
    //display: none;
    grid-template-columns: repeat(4, 270px);
    grid-column-gap: 26px;
    width: 100%;
    height: 115px;
    flex-shrink: 0;

    @include media-breakpoint-up(sm) {
      margin-left: 40px;
    }

    @media (min-width: 1238px) {
      margin-left: 0;
    }
  }

  &__item {
    position: relative;
    width: 270px;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    text-align: center;
    border: 2px solid var(--color-bg-blue);
    border-radius: var(--border-radius-3xl);
    box-sizing: border-box;
    cursor: pointer;

    @include hover {
      background-color: var(--color-bg-blue);
      color: var(--color-text-inverse);
    }

    &_is_active {
      background-color: var(--color-bg-blue);
      color: var(--color-text-inverse);
    }

    &:not(:last-child)::after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -20px;
      width: 12px;
      height: 12px;
      border-radius: var(--border-radius-half);
      background-color: var(--color-bg-blue);
    }

    &::before {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -26px;
      border-width: 12px 14px 12px 14px;
      border-style: solid;
      border-color: var(--color-bg-blue) transparent transparent transparent;
      opacity: 0;
    }

    &_is_active::before,
    &:hover::before {
      opacity: 1;
    }

    span {
      font-size: 14.6px;
      font-weight: 300;
      line-height: 1.64;
      letter-spacing: -0.5px;
    }
  }

  &__content {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 17px auto 0;
    width: 360px;
    height: 680px;
    // background-color: var(--color-bg-white);
    background-image: url('~@/assets/images/vkontakte-page/bg-video-mobile.png');
    background-size: 360px 680px;
    background-repeat: no-repeat;
    border-radius: 30px;
    background-position: 0 -12px;

    @include media-breakpoint-up(sm) {
      position: relative;
      left: unset;
      bottom: unset;
      transform: unset;
    }

    @include media-breakpoint-up(xl) {
      margin-top: 45px;
      width: 1180px;
      height: 670px;
      background-image: url('~@/assets/images/vkontakte-page/bg-video-desktop.png');
      background-size: 1180px 670px;
      background-position: 0 1px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 43px;
      right: 45px;
      bottom: 75px;
      left: 45px;
      z-index: -1;
      // display: none;
      border-radius: 32px;
      background: var(--color-bg-white);
      // box-shadow: var(--box-shadow-md);

      @include media-breakpoint-up(xl) {
        top: 36px;
        right: 66px;
        left: 66px;
        bottom: 86px;
      }
    }
  }

  ::v-deep video {
    opacity: 0;
  }

  &_state_loaded ::v-deep video {
    opacity: 1;
  }
}

::v-deep .plyr,
::v-deep .plyr__video-wrapper {
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
    z-index: var(--layer-3);
  }
}

::v-deep .plyr {
  height: 657px;

  @include media-breakpoint-up(xl) {
    height: 670px;
  }

  &::before {
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 45px;
    height: 680px;
    background-image: url('~@/assets/images/vkontakte-page/border-right-video-mobile.svg');

    @include media-breakpoint-up(xl) {
      right: -10px;
      width: 66px;
      height: 690px;
      background-image: url('~@/assets/images/vkontakte-page/border-right-video-desktop.svg');
    }
  }

  &::after {
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
    width: 360px;
    height: 75px;
    background-image: url('~@/assets/images/vkontakte-page/border-bottom-video-mobile.svg');

    @include media-breakpoint-up(xl) {
      bottom: -10px;
      width: 1200px;
      height: 86px;
      background-image: url('~@/assets/images/vkontakte-page/border-bottom-video-desktop.svg');
    }
  }
}

::v-deep .plyr__video-wrapper {
  &::before {
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    width: 360px;
    height: 43px;
    background-image: url('~@/assets/images/vkontakte-page/border-top-video-mobile.svg');

    @include media-breakpoint-up(xl) {
      top: -9px;
      width: 1200px;
      height: 36px;
      background-image: url('~@/assets/images/vkontakte-page/border-top-video-desktop.svg');
    }
  }

  &::after {
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 45px;
    height: 680px;
    background-image: url('~@/assets/images/vkontakte-page/border-left-video-mobile.svg');

    @include media-breakpoint-up(xl) {
      left: -10px;
      width: 66px;
      height: 690px;
      background-image: url('~@/assets/images/vkontakte-page/border-left-video-desktop.svg');
    }
  }
}

.el-scrollbar {
  position: absolute;
  top: 0;
  left: -20px;
  width: calc(100% + 40px);
  height: 120px;

  @include media-breakpoint-up(sm) {
    left: -40px;
    width: calc(100% + 80px);
  }

  @media (min-width: 1238px) {
    left: 50%;
    transform: translateX(-50%);
    //width: 100%;
    width: 96.6%;
  }

  @include media-breakpoint-up(xxl) {
    width: 93.6%;
  }

  //max-width: 1100px;
}

::v-deep .el-loading-mask {
  border-radius: 32px;

  .video_state_stamp-loading & {
    top: 5px;
    right: 20px;
    bottom: 62px;
    left: 20px;
    border-radius: 45px;

    @include media-breakpoint-up(xl) {
      top: 10px;
      right: 40px;
      bottom: 60px;
      left: 40px;
      border-radius: 32px;
    }
  }

  ::v-deep .el-loading-mask {
    background-color: transparent;
    z-index: var(--layer-2);
  }
}
</style>
