<template>
  <article
    class="notice"
    :class="{
      ['notice_state_' + state]: state,
    }"
  >
    <BaseIcon
      name="check-circle-small"
      width="48"
      height="38"
      :current-color="true"
    />
    <div class="notice__text">
      <slot />
    </div>
  </article>
</template>

<script lang="js">
export default {
  props: {
    state: String,
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.notice {
  // padding: 4px 16px 10px;
  padding: 2px 16px 10px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: var(--border-radius-md);

  @include media-breakpoint-up(sm) {
    padding: 0 14px 0 0;
    height: 36px;
    flex-direction: row;
    text-align: left;
  }

  &_state_success {
    background-color: var(--color-bg-success);
    color: var(--color-text-success);
  }

  &_state_error {
    background-color: var(--color-bg-error);
    color: var(--color-text-error);
  }

  &__text {
    position: relative;
    top: -2px;
    left: -2px;
    font-size: 13.2px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.25px;

    @include media-breakpoint-up(sm) {
      top: 0;
      left: -6px;
    }

    @include media-breakpoint-up(md) {
    }
  }

  ::v-deep .icon {
    left: -2px;
  }
}
</style>
