<template>
  <div>
    <ThePageHeader />
    <Nuxt @pageLoad="pageLoadHandler($event)" />
    <ThePaymentsBlock :page="page" />
    <ThePageFooter />
    <TheCookie />
  </div>
</template>

<script type="js">
export default {
  data() {
    return {
      page: ''
    }
  },
  methods: {
    pageLoadHandler(name) {
      this.page = name;
    }
  }
}
</script>
