<template>
  <div>
    <section class="page-section page-section_skew_no">
      <div class="page-section__container page-section__container--contacts">
        <h1 class="text text_type_title.level_1">Контакты</h1>
        <p class="text text_level_1 text_mgb_50">
          Свяжитесь с нами, мы найдём ответ на ваш вопрос.
        </p>

        <div class="page-section__box page-section__box_type_two">
          <div class="page-section__row">
            <div class="page-section__col">
              <BaseIcon
                name="check-circle-large"
                width="37"
                height="37"
                color="purple"
                bottom-space="sm"
              />
              <h3 class="text text_type_title.level_3 text_lh_32.on_screen_md">
                Партнёрам
              </h3>
              <p
                class="text text_level_3 text_mgb_40 text_lh_28.on_screen_md text_mgb_no.on_screen_lg"
              >
                <BaseLink
                  href="mailto:partners@arsenalpay.ru"
                  link-in="text"
                  :blank="true"
                  color="blue"
                >
                  partners@arsenalpay.ru</BaseLink
                >
              </p>
            </div>
            <div class="page-section__col">
              <BaseIcon
                name="check-circle-large"
                width="37"
                height="37"
                color="purple"
                bottom-space="sm"
              />
              <h3 class="text text_type_title.level_3 text_lh_32.on_screen_md">
                Бухгалтерия
              </h3>
              <p
                class="text text_level_3 text_mgb_40 text_lh_28.on_screen_md text_mgb_no.on_screen_lg"
              >
                <BaseLink
                  href="mailto:accounts@arsenalpay.ru"
                  link-in="text"
                  :blank="true"
                  color="blue"
                >
                  accounts@arsenalpay.ru</BaseLink
                >
              </p>
            </div>
            <div class="page-section__col">
              <BaseIcon
                name="check-circle-large"
                width="37"
                height="37"
                color="purple"
                bottom-space="sm"
              />
              <h3 class="text text_type_title.level_3 text_lh_32.on_screen_md">
                Общие вопросы
              </h3>
              <p
                class="text text_level_3 text_mgb_no text_mgb_8.on_screen_md text_lh_28.on_screen_md text_mgb_no.on_screen_lg"
              >
                <BaseLink
                  href="mailto:info@arsenalpay.ru"
                  link-in="text"
                  :blank="true"
                  color="blue"
                >
                  info@arsenalpay.ru</BaseLink
                >
              </p>
            </div>
          </div>
        </div>

        <div class="page-section__box page-section__box_type_two">
          <BaseIcon
            name="check-circle-large"
            width="37"
            height="37"
            color="purple"
            bottom-space="sm"
          />
          <h3 class="text text_type_title.level_3 text_lh_32.on_screen_md">
            Поддержка
          </h3>
          <p
            class="text text_level_3 text_mgb_no text_mgb_8.on_screen_md text_lh_28.on_screen_md"
          >
            Мы подготовили для вас ответы
            <br class="br br--show-xs br--hide-sm" />на
            <BaseLink
              href="https://arsenalpay.ru/support.html"
              link-in="text"
              :blank="true"
              color="blue"
            >
              на&nbsp;частые вопросы</BaseLink
            >
            по&nbsp;платежам. Вы&nbsp;можете самостоятельно проверить
            <BaseLink
              href="https://arsenalpay.ru/support.html"
              link-in="text"
              :blank="true"
              color="blue"
            >
              статус своего платежа.</BaseLink
            >
            Напишите нам на
            <BaseLink
              href="mailto:pay@arsenalpay.ru"
              link-in="text"
              :blank="true"
              color="blue"
            >
              pay@arsenalpay.ru</BaseLink
            >, если вы не&nbsp;нашли ответ на&nbsp;свой&nbsp;вопрос.
          </p>
        </div>

        <div class="page-section__box page-section__box_type_two">
          <BaseIcon
            name="check-circle-large"
            width="37"
            height="37"
            color="purple"
            bottom-space="sm"
          />

          <h3 class="text text_type_title.level_3 text_lh_32.on_screen_md">
            Работа в нашей команде
          </h3>
          <p
            class="text text_level_3 text_mgb_no text_mgb_8.on_screen_md text_lh_28.on_screen_md"
          >
            Каждый день мы стараемся сделать наши платежные инструменты ещё&nbsp;лучше.
            Мы&nbsp;всегда рады талантливым ребятам. Присылайте своё резюме на
            <BaseLink
              href="mailto:jointeam@arsenalpay.ru"
              link-in="text"
              :blank="true"
              color="blue"
            >
              jointeam@arsenalpay.ru</BaseLink
            >

            и&nbsp;присоединяйтесь<br
              class="br br--hide-xs br--show-sm br--hide-lg"
            />
          </p>
        </div>
      </div>
    </section>
  </div>
</template>

<script lang="js">

export default {
  head() {
    return {
      title: "Контакты",
      meta: [
        { hid: "description", name: "description", content: "Свяжитесь с нами, мы найдём ответ на ваш вопрос." },
        { hid: "twitter:title", name: "twitter:title", content: "ArsenalPay | Приём платежей без покупки онлайн кассы теперь и для самозанятых" },
        { hid: "twitter:description", name: "twitter:description", content: "Приём платежей для самозанятых, ИП и юрлиц. Принимайте платежи где угодно — на своём сайте, в Instagram*, на лендингах, в соцсетях, в мессенджерах. Вам не нужно покупать или брать в аренду свою онлайн кассу. * Instagram, признанна в России экстремистской." },
        { hid: "twitter:image", property: "twitter:image", content: "priem-platezhej-bez-pokupki-onlajn-kassy-tw.png" },
        { hid: "vk:image", property: "vk:image", content: "https://arsenalpay.ru/priem-platezhej-bez-pokupki-onlajn-kassy-vk.png" },
        { hid: "og:image", property: "og:image", content: "priem-platezhej-bez-pokupki-onlajn-kassy-fb.png" },
        { hid: "og:image:secure_url", property: "og:image:secure_url", content: "https://arsenalpay.ru/priem-platezhej-bez-pokupki-onlajn-kassy-fb.png" },
        { hid: "og:image", property: "og:image", content: "https://arsenalpay.ru/priem-platezhej-bez-pokupki-onlajn-kassy-square.png" },
        { hid: "og:url", property: "og:url", content: "https://arsenalpay.ru/contacts.html" },
        { hid: "og:title", property: "og:title", content: "ArsenalPay | Приём платежей без покупки онлайн кассы теперь и для самозанятых" },
        { hid: "og:description", property: "og:description", content: "Приём платежей для самозанятых, ИП и юрлиц. Принимайте платежи где угодно — на своём сайте, в Instagram*, на лендингах, в соцсетях, в мессенджерах. Вам не нужно покупать или брать в аренду свою онлайн кассу. * Instagram, признанна в России экстремистской." },
      ],
      link: [
        {
          rel: "image_src",
          href: "https://arsenalpay.ru/priem-platezhej-bez-pokupki-onlajn-kassy-fb.png",
        },
        {
          rel: "canonical",
          href: "https://arsenalpay.ru/contacts.html",
        },
      ],
    }
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.page-section {
  background-color: var(--color-bg-purple-light);

  .page-section__container {
    padding-top: 128px;
    padding-bottom: 118px;

    @include media-breakpoint-up(md) {
      padding-top: 166px;
      padding-bottom: 158px;
    }
  }

  .page-section__box {
    &:not(:last-child) {
      margin-bottom: 70px;
    }
  }

  .page-section__row {
    @include media-breakpoint-up(lg) {
      margin-bottom: 9px;
      max-width: 740px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-content: space-between;
      grid-column-gap: 40px;
    }
  }

  .page-section__col {
    @include media-breakpoint-only(xs) {
      display: flex;
      flex-direction: column;
      align-items: start;
    }
  }
}
</style>
