<template>
  <Tutorial />
</template>

<script>
export default {
  head() {
    return {
      title: '',
      meta: [
        { hid: 'twitter:title', name: 'twitter:title', content: '' },
        {
          hid: 'twitter:description',
          name: 'twitter:description',
          content: '',
        },
        { hid: 'twitter:image', property: 'twitter:image', content: '' },
        { hid: 'vk:image', property: 'vk:image', content: '' },
        { hid: 'og:image', property: 'og:image', content: '' },
        {
          hid: 'og:image:secure_url',
          property: 'og:image:secure_url',
          content: '',
        },
        { hid: 'og:image', property: 'og:image', content: '' },
        { hid: 'og:url', property: 'og:url', content: '' },
        { hid: 'og:title', property: 'og:title', content: '' },
        { hid: 'og:description', property: 'og:description', content: '' },
      ],
    }
  },
}
</script>
