<template>
  <section class="page-section page-section_type_cut page-section_skew_no">
    <div class="page-section__container page-section__container--partnership">
      <h1 class="text text_type_title.level_1">Станьте нашим агентом</h1>
      <p class="text text_level_1">
        Приводите клиентов и&nbsp;получайте ежемесячный доход
      </p>
      <div class="page-section__button">
        <BaseButton>Стать агентом</BaseButton>
      </div>
      <!--						<button type="button" class="page-section__btn page-section__btn&#45;&#45;partnership page-section__btn&#45;&#45;mgb-36" @click="showModal(modalIds.partnership)"></button>-->
      <div class="page-section__box page-section__box_type_two">
        <BaseIcon
          name="check-circle-large"
          width="37"
          height="37"
          color="green"
          bottom-space="sm"
        />
        <h3 class="text text_type_title.level_3 text_lh_32.on_screen_md">
          10% от нашей прибыли по&nbsp;каждому клиенту
        </h3>
        <p class="text text_level_3 text_mgb_40 text_lh_28.on_screen_md">
          Вы ежемесячно получаете 10% от&nbsp;нашей прибыли по&nbsp;каждому клиенту, которому были подключены онлайн-платежи.
          Рассказывайте о&nbsp;продуктах и&nbsp;услугах ArsenalPay своим знакомым, и&nbsp;когда они захотят подключиться, передайте
          их&nbsp;контактные данные нам. После их подключения, вы начнете получать ежемесячный доход.
        </p>

        <BaseIcon
          name="check-circle-large"
          width="37"
          height="37"
          color="green"
          bottom-space="sm"
        />
        <h3 class="text text_type_title.level_3 text_lh_32.on_screen_md">
          Удобно и прозрачно
        </h3>
        <p class="text text_level_3 text_lh_28.on_screen_md text_mgb_no">
          Вы не привязаны к&nbsp;рабочему месту и&nbsp;сами выбираете график работы.<br
            class="br br--show-lg"
          />
          Вознаграждения прозрачны. Все&nbsp;данные по привлеченным клиентам и&nbsp;сумме вашего вознаграждения вы сможете
          контролировать в&nbsp;онлайн-режиме в&nbsp;личном кабинете.
        </p>
      </div>
    </div>
  </section>
</template>

<script lang="js">

export default {
  head() {
    return {
      title: "Агентам",
      meta: [
        { hid: "description", name: "description", content: "Станьте нашим агентом и получайте 10% от прибыли по каждому клиенту." },
        { hid: "twitter:title", name: "twitter:title", content: "ArsenalPay | Приём платежей без покупки онлайн кассы теперь и для самозанятых" },
        {
          hid: "twitter:description", name: "twitter:description", content: "Приём платежей для самозанятых, ИП и юрлиц. Принимайте платежи где угодно — на своём сайте, в\n" +
            "Instagram*, на лендингах, в соцсетях, в мессенджерах. Вам не нужно покупать или брать в аренду свою онлайн кассу.\n" +
            "*Instagram, признанна в России экстремистской."
        },
        { hid: "twitter:image", property: "twitter:image", content: "priem-platezhej-bez-pokupki-onlajn-kassy-tw.png" },
        { hid: "vk:image", property: "vk:image", content: "https://arsenalpay.ru/priem-platezhej-bez-pokupki-onlajn-kassy-vk.png" },
        { hid: "og:image", property: "og:image", content: "https://arsenalpay.ru/priem-platezhej-bez-pokupki-onlajn-kassy-fb.png" },
        { hid: "og:image:secure_url", property: "og:image:secure_url", content: "https://arsenalpay.ru/priem-platezhej-bez-pokupki-onlajn-kassy-fb.png" },
        { hid: "og:image", property: "og:image", content: "https://arsenalpay.ru/priem-platezhej-bez-pokupki-onlajn-kassy-square.png" },
        { hid: "og:url", property: "og:url", content: "https://arsenalpay.ru/partnership.html" },
        { hid: "og:title", property: "og:title", content: "ArsenalPay | Приём платежей без покупки онлайн кассы теперь и для самозанятых" },
        {
          hid: "og:description", property: "og:description", content: "Приём платежей для самозанятых, ИП и юрлиц. Принимайте платежи где угодно — на своём сайте, в Instagram*,\n" +
            "на лендингах, в соцсетях, в мессенджерах. Вам не нужно покупать или брать в аренду свою онлайн кассу. * Instagram, признанна в России экстремистской."
        },
      ],
      link: [
        {
          rel: "image_src",
          href: "https://arsenalpay.ru/priem-platezhej-bez-pokupki-onlajn-kassy-fb.png",
        },
        {
          rel: "canonical",
          href: "https://arsenalpay.ru/partnership.html",
        },
      ],
    }
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.page-section {
  background-color: var(--color-bg-green-light);

  .page-section__container {
    padding-top: 128px;
    padding-bottom: 118px;

    @include media-breakpoint-up(md) {
      padding-top: 166px;
      padding-bottom: 158px;
    }
  }

  .page-section__button {
    margin: 18px auto 50px;

    @include media-breakpoint-up(md) {
      max-width: 304px;
    }
  }
}
</style>
