<template>
  <div>
    <section class="page-section page-section_order_1">
      <div class="page-section__container">
        <div class="page-section__notice">
          <BaseNotice state="success"
            >Теперь приём платежей доступен и&nbsp;самозанятым</BaseNotice
          >
        </div>
        <h1 class="text text_type_title.level_1">Приём платежей Вконтакте</h1>
        <p class="text text_level_1 text_ls_sm text_width_820.on_screen_lg">
          Оплата товаров и&nbsp;услуг на&nbsp;любой странице в&nbsp;VK.
          Бесплатная онлайн-касса. Деньги поступают на&nbsp;ваш расчётный счёт
          ежедневно и&nbsp;без комиссий.<br class="br br--show-xl" />
          Свой сайт не&nbsp;нужен. Visa, MasterCard, Мир,&nbsp;Apple&nbsp;Pay.
        </p>
        <div class="page-section__button page-section__button_type_top">
          <BaseButton href="https://arsenalpay.ru/dashboard/quickstart?step=1"
            >Подключить</BaseButton
          >
        </div>
        <div class="page-section__video">
          <BaseVideo />
        </div>
      </div>
    </section>

    <section class="page-section page-section_order_2">
      <div class="page-section__container">
        <BaseIcon
          name="kassa-big"
          width="122"
          height="120"
          color="blue"
          bottom-space="xl"
        />
        <h2 class="text text_type_title.level_1">
          Онлайн-касса бесплатно.<br class="br br--show-xs"> Свою кассу покупать не&nbsp;нужно.
        </h2>
        <div>
          <p class="text text_level_1 text_display_inline.on_screen_sm">
            Вам не нужно покупать или брать в&nbsp;аренду свою онлайн-кассу.<br
              class="br br--show-lg"
            />
            Все&nbsp;платежи проходят через
            <BaseLink
              href="https://arsenalpay.ru/cashbox.html"
              :blank="true"
              link-in="text"
              color="blue"
            >
              онлайн-кассу ArsenalPay</BaseLink
            >
            бесплатно.
          </p>
          <br class="br br--show-xl">
          <p class="text text_level_1 text_display_inline.on_screen_sm">
            Чеки&nbsp;отправляются через ОФД в&nbsp;налоговую автоматически.<br
              class="br br--show-lg"
            />
            Клиент&nbsp;получает чек на свой email сразу после оплаты.<br
              class="br br--show-lg"
            />
            Чеки&nbsp;сохраняются в&nbsp;личном кабинете и&nbsp;всегда доступны.
          </p>
        </div>
        <div class="page-section__button">
          <BaseButton
            text-transform="normal"
            icon-position="left"
            :full-width="true"
            @click="showModal"
          >
            <template #icon>
              <BaseIcon name="invoice-medium" width="48" height="38"></BaseIcon>
            </template>
            Пример фискального чека
          </BaseButton>
        </div>
      </div>
    </section>
    <section class="page-section page-section_order_3">
      <div class="page-section__container">
        <BaseIcon
          name="rub-big"
          width="120"
          height="120"
          color="green"
          bottom-space="xl"
        />
        <h2 class="text text_type_title.level_1">
          Платежи перечисляются<br class="br br--show-xs" />
          на ваш расчётный счёт ежедневно и&nbsp;без&nbsp;комиссий
        </h2>
        <p class="text text_level_1">
          Деньги поступают автоматически на&nbsp;расчётный счёт юрлица,
          ИП&nbsp;или&nbsp;самозанятого. Доступно<br class="br br--show-xs br--hide-sm" /> и&nbsp;<BaseLink
            href="#"
            link-in="text"
            color="blue"
            >мгновенное зачисление <br class="br br--show-md br--hide-lg" />средств</BaseLink
          >.
        </p>
        <div class="page-section__row">
          <div class="page-section__col">
            <BaseIcon
              name="check-circle-medium"
              width="48"
              height="38"
              color="pink"
            />
            <h3 class="text text_type_title.level_3">Без комиссий</h3>
            <p
              class="text text_level_3 text_mgb_48.on_screen_sm text_mgb_42.on_screen_md"
            >
              Никаких комиссий за&nbsp;вывод на&nbsp;расчётный&nbsp;счёт.
            </p>
          </div>
          <div class="page-section__col">
            <BaseIcon
              name="check-circle-medium"
              width="48"
              height="38"
              color="pink"
            />
            <h3 class="text text_type_title.level_3">Без минимальных сумм</h3>
            <p
              class="text text_level_3 text_mgb_48.on_screen_sm text_mgb_42.on_screen_md"
            >
              Накапливать сумму для <br class="br br--show-xl" />вывода
              не&nbsp;нужно.
            </p>
          </div>
          <div class="page-section__col">
            <BaseIcon
              name="check-circle-medium"
              width="48"
              height="38"
              color="pink"
            />
            <h3 class="text text_type_title.level_3">В любой банк России</h3>
            <p
              class="text text_level_3 text_mgb_48.on_screen_sm text_mgb_42.on_screen_md"
            >
              Ваш расчётный счёт может <br class="br br--show-xl" />быть
              в&nbsp;любом банке&nbsp;РФ.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section
      class="page-section page-section_order_4 page-section_skew_no-bottom"
    >
      <div class="page-section__container">
        <BaseChip view="pink">Бесплатно</BaseChip>
        <h2 class="text text_type_title.level_1">
          Принимайте оплату <br class="br br--show-sm" />
          через ссылку в&nbsp;товаре
        </h2>
        <p class="text text_level_1 text_mgb_60">
          Добавьте ссылку на&nbsp;страницу оплаты в&nbsp;каждый товар.<br
            class="br br--show-lg"
          />
          Клиент&nbsp;сможет перейти по&nbsp;ней и&nbsp;оплатить
          нужную&nbsp;сумму.
        </p>
        <div class="page-section__row">
          <div class="page-section__col">
            <BaseImage
              src="vkontakte-page/vk-items"
              shadow="md"
              radius="md"
              width="320"
              height="598"
            >
            </BaseImage>
          </div>
          <div class="page-section__col">
            <BaseImage
              src="vkontakte-page/payment"
              shadow="md"
              radius="md"
              width="320"
              height="810"
            >
            </BaseImage>
          </div>
        </div>
      </div>
    </section>
    <section class="page-section page-section_order_5 page-section_skew_no">
      <div class="page-section__container">
        <BaseChip view="pink">Бесплатно</BaseChip>
        <h2 class="text text_type_title.level_1">
          Выставляйте счета в&nbsp;2&nbsp;клика
        </h2>
        <div>
          <p class="text text_level_1 text_display_inline.on_screen_sm">
            В счёте указывается полная номенклатура и&nbsp;информация
            о&nbsp;клиенте, все&nbsp;по&nbsp;54‑ФЗ.
          </p>
          <p class="text text_level_1 text_display_inline.on_screen_sm">
            Отправляйте счёт любым удобным способом: WhatsApp, Telegram,
            Viber,&nbsp;VK.
          </p>
          <p class="text text_level_1 text_display_inline.on_screen_sm">
            Клиент&nbsp;оплачивает счёт по&nbsp;ссылке и&nbsp;получает чек
            об&nbsp;оплате.
          </p>
        </div>
        <div class="page-section__row">
          <div class="page-section__col">
            <BaseImage
              src="vkontakte-page/invoice"
              shadow="md"
              radius="md"
              width="320"
              height="588"
            >
            </BaseImage>
          </div>
          <div class="page-section__col">
            <BaseImage
              src="vkontakte-page/whatsapp"
              shadow="md"
              radius="lg"
              width="320"
              height="588"
            >
            </BaseImage>
          </div>
        </div>
      </div>
    </section>
    <section class="page-section page-section_order_6 page-section_skew_no">
      <div class="page-section__container">
        <BaseChip view="pink">Бесплатно</BaseChip>
        <h2 class="text text_type_title.level_1 text_mgb_42">
          Принимайте оплату<br class="br br--show-sm" />
          в&nbsp;любых соцсетях и&nbsp;мессенджерах
        </h2>
        <div class="page-section__row">
          <div class="page-section__col">
            <BaseImage
              src="vkontakte-page/messengers"
              width="360"
              height="308"
            ></BaseImage>
          </div>
          <div class="page-section__col">
            <h3 class="text text_type_title.level_3">
              Размещайте ссылку на&nbsp;оплату где&nbsp;угодно
            </h3>
            <p
              class="text text_level_3 text_max-width_520.on_screen_md text_mgb_40.on_screen_md"
            >
              Вы можете размещать ссылку на&nbsp;вашу страницу оплаты
              в&nbsp;любых соцсетях. Указывать ее&nbsp;в&nbsp;описании группы,
              магазина или&nbsp;личной&nbsp;страницы.
            </p>
            <h3 class="text text_type_title.level_3">
              Отправляйте ссылку на&nbsp;оплату любыми способами
            </h3>
            <p
              class="text text_level_3 text_max-width_520.on_screen_md text_mgb_40.on_screen_md"
            >
              Используте любой удобный мессенджер WhatsApp,<br
                class="br br--show-md br--hide-lg br--show-xl"
              />Telegram, Viber,&nbsp;VK . Отправляйте ссылку на&nbsp;оплату
              во&nbsp;время общения с&nbsp;клиентами.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="page-section page-section_order_7 page-section_skew_no">
      <div class="page-section__container">
        <BaseChip view="pink">Бесплатно</BaseChip>
        <h2 class="text text_type_title.level_1">
          Автоматизируйте продажу<br class="br br--show-sm" />
          цифрового контента
        </h2>
        <p
          class="text text_level_1 text_mgb_42 text_display_inline.on_screen_sm"
        >
          Бесплатная email рассылка. Никаких настроек и&nbsp;интеграций.
        </p>
        <div class="page-section__row">
          <div class="page-section__col">
            <BaseImage
              src="vkontakte-page/widget-email"
              width="376"
              height="305"
            ></BaseImage>
          </div>
          <div class="page-section__col">
            <h3 class="text text_type_title.level_3">
              Автоматизируйте работу с&nbsp;клиентами
            </h3>
            <p
              class="text text_level_3 text_max-width_520.on_screen_md text_mgb_40.on_screen_md"
            >
              Клиент получает письмо с доступом к&nbsp;контенту сразу после
              <br class="br br--show-sm br--hide-lg" />оплаты. Вам&nbsp;больше
              не&nbsp;нужно самим отправлять письма.
            </p>
            <h3 class="text text_type_title.level_3">
              Продавайте доступ к&nbsp;контенту
            </h3>
            <p
              class="text text_level_3 text_max-width_520.on_screen_md text_mgb_40.on_screen_md"
            >
              Продавайте курсы, чек листы, билеты, все что угодно. Отправка
              писем происходит сразу после оплаты или в&nbsp;определенный день,
              например, в&nbsp;день начала курса.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section page-section_order_8 page-section_skew_no">
      <div class="page-section__container">
        <BaseChip view="pink">Бесплатно</BaseChip>
        <h2 class="text text_type_title.level_1">
          Оставайтесь на&nbsp;связи с&nbsp;клиентами.<br
            class="br br--show-sm"
          />
          Кнопки WhatsApp, Telegram, Viber.
        </h2>
        <div class="page-section__row">
          <div class="page-section__col">
            <BaseImage
              src="vkontakte-page/widget-buttons"
              shadow="md"
              radius="md"
              :breakpoints="{ xs: true, md: true }"
            ></BaseImage>
          </div>
          <div class="page-section__col">
            <h3 class="text text_type_title.level_3">
              Общение сразу после оплаты
            </h3>
            <p
              class="text text_level_3 text_max-width_520.on_screen_md text_mgb_40.on_screen_md"
            >
              Клиент сможет написать вам сразу как&nbsp;оплатил заказ.
              Не&nbsp;нужно куда-то переходить и&nbsp;искать другие способы
              связи.
            </p>
            <h3 class="text text_type_title.level_3">Легко начать диалог</h3>
            <p
              class="text text_level_3 text_max-width_520.on_screen_md text_mgb_40.on_screen_md"
            >
              Клиенту достаточно просто нажать на&nbsp;кнопку WhatsApp, Telegram
              или&nbsp;Viber и&nbsp;вам придет готовое первое сообщение.
              Возможность начать диалог в&nbsp;один клик облегчит общение.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section page-section_order_9 page-section_skew_no">
      <div class="page-section__container">
        <BaseChip view="pink">Бесплатно</BaseChip>
        <h2 class="text text_type_title.level_1">
          Соберите<br class="br br--show-xs br--hide-sm" />
          все важные<br class="br br--show-xs br--hide-lg" />
          ссылки&nbsp;вместе.
        </h2>
        <div class="page-section__row">
          <div class="page-section__col">
            <BaseImage
              src="vkontakte-page/widget-multilink"
              shadow="md"
              radius="md"
              :breakpoints="{ xs: true, md: true }"
            ></BaseImage>
          </div>
          <div class="page-section__col">
            <h3 class="text text_type_title.level_3">
              Расскажите все о&nbsp;вашем бизнесе
            </h3>
            <p
              class="text text_level_3 text_max-width_520.on_screen_md text_mgb_40.on_screen_md"
            >
              Разместите ссылки на&nbsp;ваши соцсети, на&nbsp;частые вопросы,
              на&nbsp;отзывы, видео, информацию о&nbsp;доставке.
            </p>
            <h3 class="text text_type_title.level_3">
              Привлекайте больше клиентов
            </h3>
            <p
              class="text text_level_3 text_max-width_520.on_screen_md text_mgb_40.on_screen_md"
            >
              Ваши клиенты смогут не только оплачивать заказы,
              но&nbsp;и&nbsp;узнавать об&nbsp;акциях, новых предложениях,
              подробности о&nbsp;товарах, услугах.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="page-section page-section_order_10">
      <div class="page-section__container">
        <BaseIcon
          name="kassa-big"
          width="122"
          height="120"
          color="pink"
          bottom-space="xl"
        />
        <h2 class="text text_type_title.level_1">
          Бесплатная Web-касса ArsenalPay<br class="br br--show-sm" />
          для&nbsp;заказов оплаченных наличными
        </h2>
        <p class="text text_level_1">
          Пробивайте чеки для заказов, оплаченных наличными, переводом
          на&nbsp;карту, или&nbsp;перечислением на&nbsp;расчётный&nbsp;счёт.
          Чеки&nbsp;легко пробиваются в&nbsp;личном кабинете и&nbsp;отправляются
          на&nbsp;email клиента автоматически. Полная номенклатура в&nbsp;чеках
          заполняется в&nbsp;соответствии с&nbsp;54‑ФЗ.
          <b
            class="text text_color_pink text_weight_bold text_display_inline text_display_block.on_screen_lg text_display_inline.on_screen_xl"
          >
            Чеки&nbsp;бесплатны&nbsp;и&nbsp;без комиссии</b
          >.<br class="br br--show-md"> Чеки по&nbsp;всем заказам сохраняются в&nbsp;личном&nbsp;кабинете.
        </p>
      </div>
    </section>
    <section class="page-section page-section_order_11">
      <div class="page-section__container">
        <BaseChip view="pink">Бесплатно</BaseChip>
        <h2
          class="text text_type_title.level_1 text_mgb_60 text_mgb_50.on_screen_md"
        >
          Удобные платёжные&nbsp;функции
        </h2>
        <div class="page-section__box page-section__box_type_one">
          <BaseIcon
            name="check-medium"
            width="52"
            height="46"
            color="pink"
            bottom-space="md"
          />
          <h3 class="text text_type_title.level_3 text_lh_32.on_screen_md">
            Выставление счёта
          </h3>
          <p
            class="text text_level_3 text_mgb_60 text_lh_28.on_screen_md text_mgb_80.on_screen_md"
          >
            Счёт выставляется в&nbsp;личном кабинете в&nbsp;2&nbsp;клика. Просто
            укажите сумму и&nbsp;полную номенклатуру&nbsp;заказа, затем
            отправьте клиенту созданную ссылку. Сразу после оплаты клиенту
            придёт чек, а&nbsp;вам уведомление об&nbsp;успешном платеже.
          </p>
          <BaseIcon
            name="apple-pay-medium"
            width="68"
            height="45"
            color="black"
            bottom-space="md"
          />
          <h3 class="text text_type_title.level_3 text_lh_32.on_screen_md">
            Apple Pay
          </h3>
          <p
            class="text text_level_3 text_mgb_60 text_lh_28.on_screen_md text_mgb_80.on_screen_md"
          >
            Apple Pay упростит и&nbsp;ускорит оплату для ваших клиентов.
            Им&nbsp;не&nbsp;нужно вводить данные карты, адрес доставки
            и&nbsp;телефон. Для&nbsp;безопасности платёж подтверждается<br
              class="br br--show-lg"
            />
            отпечатком пальца — Touch&nbsp;ID, или через распознавание лица —
            Face&nbsp;ID.<br class="br br--show-lg" />
            Отдельно настраивать Apple&nbsp;Pay вам не&nbsp;придётся, все
            заработает сразу.
          </p>
          <BaseIcon
            name="refund-medium"
            width="52"
            height="52"
            color="purple"
            bottom-space="md"
          />
          <h3 class="text text_type_title.level_3 text_lh_32.on_screen_md">
            Возврат платежа
          </h3>
          <p
            class="text text_level_3 text_mgb_60 text_lh_28.on_screen_md text_mgb_80.on_screen_md"
          >
            Вы легко сможете вернуть деньги клиенту в&nbsp;любое время
            в&nbsp;личном кабинете. Возврат&nbsp;можно сделать на&nbsp;всю сумму
            или на&nbsp;часть суммы. Комиссии за&nbsp;возврат&nbsp;нет.
          </p>
          <BaseIcon
            name="hold-medium"
            width="50"
            height="50"
            color="cyan"
            bottom-space="md"
          />
          <h3 class="text text_type_title.level_3 text_lh_32.on_screen_md">
            Холдирование платежей
          </h3>
          <p class="text text_level_3 text_mgb_60 text_lh_28.on_screen_md">
            Холдирование платежей позволяет вам проверить наличие товара или
            услуги. Деньги&nbsp;с&nbsp;карты клиента не&nbsp;списываются сразу,
            а&nbsp;временно «замораживаются». После&nbsp;проверки наличия,
            вы&nbsp;подтверждаете списание суммы. Можно списать как всю сумму
            так и&nbsp;ее&nbsp;часть.<br class="br br--show-md br--hide-lg" /> Комиссия за&nbsp;платёж берётся только
            со&nbsp;списанной суммы. Комиссия за&nbsp;отмену «заморозки»
            не&nbsp;взимается.
          </p>
        </div>
      </div>
    </section>
    <section class="page-section page-section_order_12">
      <div class="page-section__container">
        <div class="page-section__icon">
          <BaseIcon name="rub-big" width="120" height="120" color="green" />
        </div>
        <h2 class="text text_type_title.level_1">Никакой абонентской платы</h2>
        <p class="text text_level_1">
          <BaseLink
            href="https://arsenalpay.ru/blog/lghotnaia-komissiia-dlia-sotsialno/"
            color="blue"
            :blank="true"
            link-in="text"
          >
            Сниженная комиссия 1%</BaseLink
          >
          при&nbsp;продаже одежды, еды, техники,&nbsp;косметики&nbsp;и&nbsp;др.
          Вы&nbsp;платите только за&nbsp;успешные платежи и&nbsp;экономите от
          50&nbsp;000&nbsp;₽ в&nbsp;год.<br class="br br--show-lg" />
          <b class="text text_weight_bold text_color_pink text_display_inline"
            >Бесплатные&nbsp;опции</b
          >&nbsp;&mdash; онлайн-касса, перевод средств на&nbsp;расчётный счёт,
          выставление счёта, возврат платежа, холдирование платежей, кнопки
          WhatsApp, Telegram, Viber, важные ссылки, автоматическая
          email&nbsp;рассылка.
        </p>
        <div class="page-section__row">
          <div class="page-section__col">
            <div class="page-section__rate">
              <BaseRateBox count="3">
                <p class="text text_in_rate-box">
                  Комиссия за успешный платёж <br class="br br--show-xs" /><b
                    >от ArsenalPay</b
                  >
                </p>
              </BaseRateBox>
            </div>
            <div class="page-section__rate">
              <BaseRateBox count="2" prefix="+">
                <p class="text text_in_rate-box">
                  Комиссия за успешный платёж <br class="br br--show-xs" /><b
                    >от Visa, Mastercard, Мир, Apple Pay</b
                  >
                </p>
              </BaseRateBox>
            </div>
          </div>
          <div class="page-section__col page-section__col_with_media">
            <BasePrompt color="green">
              <p
                class="text text_in_prompt text_size_lg text_align_center.on_screen_sm"
              >
                У нас нет дополнительных комиссий&nbsp;и звездочек в договоре.
              </p>
            </BasePrompt>
          </div>
        </div>
      </div>
    </section>
    <section
      class="page-section page-section_order_13 page-section_skew_no-bottom page-section_type_reviews"
    >
      <div class="page-section__container">
        <h2 class="text text_type_title.level_1">Отзывы наших клиентов</h2>
        <p class="text text_level_1 text_mgb_5">
          Больше отзывов в&nbsp;нашем
          <BaseLink
            href="https://www.instagram.com/arsenal_pay/"
            link-in="text"
            :target="true"
            color="blue"
          >
            Instagram*.</BaseLink
          >
          <br class="br br--show-xs" />Посмотрите
          <BaseLink
            href="https://arsenalpay.ru/pay/"
            link-in="text"
            color="blue"
            >страницы оплаты</BaseLink
          >
          клиентов.
        </p>
        <TheReviewsSlider :reviews="reviews" />
      </div>
    </section>
    <!-- <FiscalReceiptModal :opened="isModalOpened" @on-close="isModalOpened = false" /> -->
  </div>
</template>

<script lang="js">
// import { vkontakteReviews } from "/data/vkontakte/reviews";

export default {
  data() {
    return {
      isModalOpened: false,
      reviews: []
    }
  },
  head() {
    return {
      title: "Приём платежей в VK без покупки онлайн кассы теперь и для самозанятых",
      meta: [
        { hid: "description", name: "description", content: "Принимайте платежи в группе Вконтакте без переплат за онлайн кассу. Для юрлиц, ИП и самозанятых. Вам не нужно покупать или брать в аренду кассу. Свой сайт иметь не нужно. Клиенты смогут оплатить заказ картами сразу на странице в VK." },
        { hid: "twitter:title", name: "twitter:title", content: "ArsenalPay | Приём платежей в VK без покупки онлайн кассы теперь и для самозанятых" },
        { hid: "twitter:description", name: "twitter:description", content: "Принимайте платежи в группе Вконтакте без переплат за онлайн кассу. Для юрлиц, ИП и самозанятых. Вам не нужно покупать или брать в аренду кассу. Свой сайт иметь не нужно. Клиенты смогут оплатить заказ картами сразу на странице в VK." },
        { hid: "twitter:image", property: "twitter:image", content: "priem-platezhej-v-vk-tw.png" },
        { hid: "vk:image", property: "vk:image", content: "https://arsenalpay.ru/priem-platezhej-v-vk-vk.png" },
        { hid: "og:image", property: "og:image", content: "https://arsenalpay.ru/priem-platezhej-v-vk-fb.png" },
        { hid: "og:image:secure_url", property: "og:image:secure_url", content: "https://arsenalpay.ru/priem-platezhej-v-vk-fb.png" },
        { hid: "og:image", property: "og:image", content: "https://arsenalpay.ru/priem-platezhej-v-vk-square.png" },
        { hid: "og:url", property: "og:url", content: "https://arsenalpay.ru/priem-platezhej-vkontakte.html" },
        { hid: "og:title", property: "og:title", content: "ArsenalPay | Приём платежей в VK без покупки онлайн кассы теперь и для самозанятых" },
        { hid: "og:description", property: "og:description", content: "Принимайте платежи в группе Вконтакте без переплат за онлайн кассу. Для юрлиц, ИП и самозанятых. Вам не нужно покупать или брать в аренду кассу. Свой сайт иметь не нужно. Клиенты смогут оплатить заказ картами сразу на странице в VK." },
      ],
      link: [
        {
          rel: "image_src",
          href: "https://arsenalpay.ru/priem-platezhej-v-vk-fb.png",
        },
        {
          rel: "canonical",
          href: "https://arsenalpay.ru/priem-platezhej-vkontakte.html",
        },
      ],
    }
  },

  mounted() {
    this.reviews = [
      {
        src: "vkontakte-page/logo-reviews-dobbi-art",
        name: "@dobbi_art",
        title: "<i style='margin-right: 9px;'>🎨</i> Портреты на холсте <br /> <i>⚡</i> Сделаем шедевр даже из селфи",
        text: "Нам заказывают портреты на праздники и мы должны выполнить работу быстро и качественно. То что у нас есть такая страница оплаты ускоряет работу. Мы берем предоплату, чтобы начать работу и&nbsp;такой способ оплаты вызывает доверие у клиентов, так как они получают чеки на свой email. Также мы просим клиентов высылать скриншот оплаты через WhatsApp или Viber и эта функция очень удачно реализована, все на одной странице, нам нравится.",
        link: {
          href: "https://arsenalpay.ru/pay/dobbi_art",
          text: "Страница оплаты",
        },
      },
      {
        src: "vkontakte-page/logo-reviews-klukva",
        name: "@klukva.interior",
        title: "<i style='margin-right: 8px;'>🔥</i> Дизайн интерьера удалённо",
        text: "Делаем стильные дизайны в любой точке мира. Мы развиваем нашу студию через соцсети VK и Instagram*. Очень порадовало, что не нужно загружаться лишними проблемами с онлайн-кассой, а&nbsp;еще больше, что за нее вообще не нужно платить. Так как каждая выполненная нами работа индивидуальна, мы выставляем счета клиентам с различной суммой и перечислением проделанных работ. Клиент получает чек, где все это указано. Очень удобно и легко, спасибо!",
        link: {
          href: "https://arsenalpay.ru/pay/klukva.interior.design",
          text: "Страница оплаты",
        },
      },
      {
        src: "vkontakte-page/logo-reviews-right-donuts",
        name: "@right_donuts",
        title: "<i style='margin-right: 8px;'>🍩</i> Диетические Десерты",
        text: "Мы делаем десерты для спортсменов и людей, следящих за своим питанием. Уделяем большое внимание качеству нашей продукции, хотим чтобы наши клиенты получали только положительные эмоции от работы с&nbsp;нами. Нам очень понравилась возможность отправки писем после оплаты. Чек-листы по правильному питанию отсылаются нашим клиентам  автоматически сразу при оплате, это очень удобно! Онлайн чеки тоже приходят сразу, клиенты довольны и мы тоже.",
        link: {
          href: "https://arsenalpay.ru/pay/right_donuts",
          text: "Страница оплаты",
        },
      },
    ];
  },
  methods: {
    showModal() {
      this.isModalOpened = true;
    }
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.page-section_order_1 {
  background-color: var(--color-bg-pink-light);
  overflow: hidden;

  &::before {
    top: -90px;
    transform: unset;
  }

  .page-section__notice {
    @include media-breakpoint-up(xl) {
      margin-left: -10px;
    }
  }

  .page-section__container {
    padding-top: 50px;
    padding-bottom: 185px;

    @include media-breakpoint-up(lg) {
      padding-top: 60px;
      padding-bottom: 190px;
      max-width: 100%;
    }

    @include media-breakpoint-up(xl) {
      padding-bottom: 230px;
      max-width: 1238px;
    }
  }

  .page-section__button {
    @include media-breakpoint-up(sm) {
      margin-top: 20px;
    }
  }

  .page-section__video {
    margin-top: 80px;
    width: 100%;

    @include media-breakpoint-up(xl) {
      margin-top: 100px;
    }
  }
}

.page-section_order_2 {
  background-color: var(--color-bg-blue-light);

  .page-section__container {
    padding-top: 60px;
    padding-bottom: 250px;

    //@include media-breakpoint-up(md) {
    //	padding-bottom: 146px;
    //}
  }

  .page-section__button {
    margin-right: auto;
    margin-left: auto;
    max-width: 430px;

    //@include media-breakpoint-up(xl) {
    //  max-width: 480px;
    //}
  }
}

.page-section_order_3 {
  background-color: var(--color-bg-green-light);

  .page-section__container {
    padding-top: 60px;
    padding-bottom: 238px;

    @include media-breakpoint-up(sm) {
      padding-bottom: 215px;
    }

    @include media-breakpoint-up(lg) {
      padding-bottom: 240px;
    }
  }

  .page-section__row {
    position: relative;
    margin-top: 21px;
    margin-left: -12px;
    max-width: 940px;

    @include media-breakpoint-up(sm) {
      margin-left: 0;
      margin-top: 28px;
    }

    //@include media-breakpoint-up(sm) {
    //  margin-top: 45px;
    //}

    @include media-breakpoint-up(md) {
      margin-top: 33px;
    }

    @include media-breakpoint-up(lg) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 20px;
    }

    .page-section__col {
      display: grid;
      grid-template-columns: 48px 280px;
      grid-template-areas:
        'icon title'
        'icon text';
      grid-column-gap: 4px;

      @include media-breakpoint-up(sm) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      svg {
        margin-top: -5px;
        grid-area: icon;

        @include media-breakpoint-up(sm) {
          margin-bottom: 8px;
        }

        @include media-breakpoint-up(md) {
          margin-bottom: 0;
        }

        @include media-breakpoint-up(md) {
          margin-top: 0;
        }
      }

      h3 {
        grid-area: title;
      }

      p {
        grid-area: text;
      }

      &:first-child {
        h3 {
          margin-top: 5px;

          @include media-breakpoint-up(sm) {
            margin-top: 0;
          }
        }

        svg {
          margin-top: 0;
        }
      }
    }
  }

  page-section__content {
    margin-top: 43px;

    @include media-breakpoint-up(sm) {
      margin-top: 47px;
    }

    @include media-breakpoint-up(md) {
      margin-top: 35px;
    }

    @include media-breakpoint-up(lg) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 20px;
      max-width: 820px;
    }

    @include media-breakpoint-up(xl) {
      grid-column-gap: 60px;
      max-width: 900px;
    }

    .text + & {
      margin-top: 20px;

      @include media-breakpoint-up(sm) {
        margin-top: 45px;
      }

      @include media-breakpoint-up(md) {
        margin-top: 50px;
      }
    }
  }
}

.page-section_order_4 {
  .page-section__container {
    padding-top: 48px;
    padding-bottom: 70px;

    @include media-breakpoint-up(md) {
      padding-top: 95px;
      padding-bottom: 110px;
    }

    @include media-breakpoint-up(lg) {
      padding-bottom: 110px;
    }
  }

  .page-section__row {
    @include content-center();

    @include media-breakpoint-up(lg) {
      margin-top: 30px;
      display: grid;
      grid-template-columns: repeat(2, 320px);
      grid-column-gap: 120px;
      justify-content: center;
      align-items: start;
    }
  }

  .page-section__col {
    &:first-child {
      position: relative;
      //margin-bottom: 70px;
      margin-bottom: 68px;

      &::before {
        content: '';
        position: absolute;
        bottom: -85px;
        left: 230px;
        width: 55px;
        height: 98px;
        background-image: url('~@/assets/images/vkontakte-page/arrow-dotted-down-left.svg');
        background-repeat: no-repeat;

        @include media-breakpoint-up(lg) {
          bottom: 75px;
          left: 296px;
          width: 132px;
          height: 58px;
          background-image: url('~@/assets/images/vkontakte-page/arrow-dotted-right.svg');
        }
      }
    }

    &:last-child {
      ::v-deep img {
        width: 320px;
        height: 810px;
      }
    }
  }
}

.page-section_order_5 {
  .page-section__container {
    padding-top: 48px;
    padding-bottom: 160px;

    @include media-breakpoint-up(lg) {
      padding-bottom: 92px;
    }
  }

  .page-section__row {
    @include content-center();

    margin-top: 45px;

    @include media-breakpoint-up(sm) {
      margin-top: 60px;
    }

    @include media-breakpoint-up(lg) {
      margin-top: 90px;
      display: grid;
      grid-template-columns: repeat(2, 320px);
      grid-column-gap: 120px;
      justify-content: center;
      align-items: start;
    }
  }

  .page-section__col {
    &:first-child {
      position: relative;
      //margin-bottom: 70px;
      margin-bottom: 68px;

      &::before {
        content: '';
        position: absolute;
        bottom: -85px;
        left: 52px;
        width: 55px;
        height: 98px;
        background-image: url('~@/assets/images/vkontakte-page/arrow-dotted-down-right.svg');
        background-repeat: no-repeat;

        @include media-breakpoint-up(lg) {
          bottom: 68px;
          left: 298px;
          width: 132px;
          height: 58px;
          background-image: url('~@/assets/images/vkontakte-page/arrow-dotted-right.svg');
        }
      }
    }

    &:last-child {
      ::v-deep img {
        width: 320px;
      }
    }
  }
}

.page-section_order_6 {
  .page-section__container {
    padding-bottom: 95px;

    @include media-breakpoint-up(md) {
      padding-bottom: 120px;
    }

    @include media-breakpoint-up(lg) {
      padding-bottom: 135px;
    }

    @include media-breakpoint-up(xl) {
      padding-bottom: 85px;
    }
  }

  .page-section__row {
    @include media-breakpoint-up(lg) {
      margin-top: 48px;
      display: grid;
      grid-template-columns: 360px 400px;
      grid-column-gap: 60px;
      align-content: center;
      justify-content: center;
    }

    @include media-breakpoint-up(xl) {
      margin-top: 23px;
      grid-column-gap: 82px;
      grid-template-columns: 360px 1fr;
    }

    @include media-breakpoint-up(xxl) {
      grid-template-columns: 360px 520px;
    }

    @include media-breakpoint-up(xxxl) {
      grid-column-gap: 120px;
    }
  }

  .page-section__col {
    &:first-child {
      @include content-center();

      position: relative;
      margin-top: 8px;
      margin-bottom: 35px;

      @include media-breakpoint-up(lg) {
        margin-top: 55px;
      }

      @include media-breakpoint-up(xl) {
        margin-top: 47px;
        margin-left: 2px;
      }
    }

    &:last-child {
      @include media-breakpoint-up(lg) {
        text-align: left;
        align-items: unset;
      }

      @include media-breakpoint-up(xl) {
        margin-top: 25px;
      }
    }
  }
}

.page-section_order_7 {
  .page-section__container {
    padding-top: 0;
    padding-bottom: 96px;
    overflow: hidden;

    @include media-breakpoint-up(md) {
      padding-bottom: 120px;
    }

    @include media-breakpoint-up(lg) {
      margin-top: -15px;
      padding-bottom: 120px;
    }

    @include media-breakpoint-up(xl) {
      margin-top: -7px;
    }

    @include media-breakpoint-up(xxl) {
      padding-right: 20px;
      padding-left: 20px;
    }
  }

  .page-section__row {
    @include media-breakpoint-up(lg) {
      margin-top: 48px;
      display: grid;
      grid-template-columns: 400px 376px;
      grid-column-gap: 44px;
      align-content: center;
      justify-content: center;
    }

    @include media-breakpoint-up(xl) {
      grid-template-columns: 520px 376px;
    }

    @include media-breakpoint-up(xxxl) {
      grid-column-gap: 105px;
    }
  }

  .page-section__col {
    &:first-child {
      @include content-center();

      position: relative;
      margin-bottom: 40px;

      @include media-breakpoint-up(sm) {
        margin-left: 0;
      }

      @include media-breakpoint-up(lg) {
        padding-top: 2px;
        //margin-bottom: 90px;
        order: 2;
      }

      picture.img {
        width: 376px;
        height: 305px;
      }
    }

    &:last-child {
      @include media-breakpoint-up(lg) {
        align-items: unset;
        text-align: left;
        order: 1;
      }

      @include media-breakpoint-up(xl) {
        padding-top: 25px;
      }
    }
  }
}

.page-section_order_8 {
  .page-section__container {
    padding-bottom: 96px;

    @include media-breakpoint-up(md) {
      padding-bottom: 120px;
    }

    @include media-breakpoint-up(xl) {
      padding-bottom: 100px;
    }
  }

  .page-section__row {
    @include media-breakpoint-up(sm) {
      margin-top: 0;
    }

    @include media-breakpoint-up(lg) {
      margin-top: 75px;
      display: grid;
      grid-template-columns: 400px 360px;
      grid-column-gap: 60px;
      align-content: center;
      justify-content: center;
    }

    @include media-breakpoint-up(xl) {
      grid-template-columns: 520px 360px;
    }

    @include media-breakpoint-up(xxxl) {
      grid-column-gap: 120px;
    }
  }

  .page-section__col {
    &:first-child {
      @include content-center();

      margin-top: 45px;
      margin-bottom: 60px;

      @include media-breakpoint-up(sm) {
        margin-top: 45px;
      }

      @include media-breakpoint-up(lg) {
        margin-top: 19px;
        order: 2;
      }

      @include media-breakpoint-up(xl) {
        margin-top: 0;
      }

      picture.img {
        width: 320px;
        height: 272px;

        @include media-breakpoint-up(md) {
          width: 360px;
        }
      }
    }

    &:last-child {
      @include media-breakpoint-up(lg) {
        order: 1;
        text-align: left;
        align-items: unset;
      }

      @include media-breakpoint-up(xl) {
        margin-top: 8px;
      }
    }
  }
}

.page-section_order_9 {
  .page-section__container {
    padding-bottom: 205px;

    @include media-breakpoint-up(md) {
      padding-bottom: 230px;
    }

    @include media-breakpoint-up(lg) {
      padding-bottom: 245px;
    }

    @include media-breakpoint-up(xl) {
      padding-bottom: 270px;
    }
  }

  .page-section__row {
    @include media-breakpoint-up(lg) {
      margin-top: 30px;
      display: grid;
      grid-template-columns: 360px 400px;
      grid-column-gap: 60px;
      justify-content: center;
      align-items: center;
    }

    @include media-breakpoint-up(xl) {
      grid-template-columns: 360px 520px;
      grid-column-gap: 80px;
    }

    @include media-breakpoint-up(xxxl) {
      grid-column-gap: 120px;
    }
  }

  .page-section__col {
    &:first-child {
      @include content-center();

      margin-top: 45px;
      margin-bottom: 60px;

      @include media-breakpoint-up(sm) {
        margin-top: 45px;
      }

      picture.img {
        width: 320px;
        height: 332px;

        @include media-breakpoint-up(md) {
          width: 360px;
        }
      }
    }

    &:last-child {
      @include media-breakpoint-up(lg) {
        padding-top: 25px;
        text-align: left;
        align-items: unset;
      }
    }
  }
}

.page-section_order_10 {
  background-color: var(--color-bg-pink-light);

  .page-section__container {
    padding-top: 60px;
    padding-bottom: 245px;

    @include media-breakpoint-up(lg) {
      margin-top: -33px;
    }

    @include media-breakpoint-up(xl) {
      margin-top: -60px;
    }

    @include media-breakpoint-up(xxl) {
      padding-top: 60px;
    }
  }
}

.page-section_order_11 {
  .page-section__container {
    padding-top: 48px;
    padding-bottom: 210px;

    @include media-breakpoint-up(md) {
      padding-top: 90px;
      padding-bottom: 310px;
    }
  }

  .page-section__box {
    @include media-breakpoint-up(xl) {
      max-width: 860px;
    }
  }
}

.page-section_order_12 {
  background-color: var(--color-bg-green-light);

  .page-section__container {
    padding-top: 60px;
    padding-bottom: 265px;

    @include media-breakpoint-up(md) {
      padding-bottom: 300px;
    }

    @include media-breakpoint-up(lg) {
      padding-bottom: 258px;
    }
  }

  .page-section__row {
    margin-top: 15px;
    max-width: 820px;

    @include media-breakpoint-up(lg) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-content: center;
      justify-items: start;
      grid-column-gap: 60px;
    }

    @include media-breakpoint-up(md) {
      margin-top: 32px;
    }

    .page-section__col {
      &:first-child {
        margin-bottom: 42px;

        @include media-breakpoint-up(md) {
          margin-bottom: 28px;
          padding-left: 40px;
        }

        @include media-breakpoint-up(lg) {
          margin-bottom: 0;
          padding-left: 46px;
        }
      }

      &:last-child {
        text-align: center;

        @include media-breakpoint-up(md) {
          padding-top: 25px;
        }
      }
    }
  }

  .page-section__rate {
    &:first-child {
      margin-bottom: 24px;

      @include media-breakpoint-up(md) {
        margin-bottom: 19px;
      }
    }
  }
}

.page-section_order_13 {
  .page-section__container {
    padding-top: 51px;
    padding-bottom: 58px;

    @include media-breakpoint-up(md) {
      padding-top: 73px;
    }

    @include media-breakpoint-up(lg) {
      padding-top: 95px;
    }
  }
}
</style>
