<template>
  <div class="page">
    <section class="page-section page-section_order_1">
      <div class="page-section__container">
        <div class="page-section__notice">
          <BaseNotice state="success"
            >Теперь приём платежей доступен и самозанятым</BaseNotice
          >
        </div>
        <h1 class="text text_type_title.level_1">
          Приём платежей в&nbsp;Instagram*
        </h1>
        <p class="text text_level_1 text_ls_sm">
          Без сайта. Без покупки онлайн кассы.<br
            class="br br--show-sm br--hide-md"
          />
          Без потери клиентов.<br class="br br--show-xs" />Visa, MasterCard,
          Мир, Apple Pay.
        </p>
        <div class="page-section__button page-section__button_type_top">
          <BaseButton href="https://arsenalpay.ru/dashboard/quickstart?step=1"
            >Подключить
          </BaseButton>
        </div>
        <div class="page-section__row">
          <div class="page-section__col">
            <BaseImage
              src="instagram-page/main-widget"
              :breakpoints="{ xs: true, xl: true }"
            />
          </div>
          <div class="page-section__col">
            <h3 class="text text_type_title.level_3">Без сайта</h3>
            <p
              class="text text_level_3 text_mgb_40.on_screen_md text_width_400.on_screen_md"
            >
              Принимайте оплату через ссылку в&nbsp;профиле Instagram*.
              <br class="br br--show-xs br--hide-md" />Свой сайт больше
              не&nbsp;нужен.
            </p>
            <h3 class="text text_type_title.level_3">
              Бесплатная онлайн касса
            </h3>
            <p
              class="text text_level_3 text_mgb_40.on_screen_md text_width_400.on_screen_md"
            >
              Вам не&nbsp;нужно покупать свою кассу.
              <br class="br--show-sm" />Мы&nbsp;даем кассу бесплатно.
            </p>
            <h3 class="text text_type_title.level_3">
              Удобные платёжные функции
            </h3>
            <p
              class="text text_level_3 text_mgb_40.on_screen_md text_width_400.on_screen_md"
            >
              Выставление счёта клиентам. Apple Pay. Возврат платежей.
              Холдирование платежей.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section page-section_order_2">
      <div class="page-section__container">
        <div class="page-section__row">
          <div class="page-section__col"></div>
          <div class="page-section__col">
            <BaseChip view="pink">Бесплатно</BaseChip>
            <h3 class="text text_type_title.level_3">Кнопки быстрой связи</h3>
            <p
              class="text text_level_3 text_mgb_42 text_width_400.on_screen_md"
            >
              WhatsApp, Telegram, Viber&nbsp;&mdash; быстрая связь
              с&nbsp;клиентами для&nbsp;увеличения продаж.
            </p>
            <BaseChip view="pink">Бесплатно</BaseChip>
            <h3 class="text text_type_title.level_3">Мультиссылка</h3>
            <p
              class="text text_level_3 text_mgb_42 text_width_400.on_screen_md"
            >
              Соберите все важные ссылки вместе.
              <br class="br--show-sm" />Решает проблему единственной ссылки
              в&nbsp;профиле Instagram*.
            </p>
            <BaseChip view="pink">Бесплатно</BaseChip>
            <h3 class="text text_type_title.level_3">
              Автоматическая email рассылка
            </h3>
            <p
              class="text text_level_3 text_mgb_42 text_width_400.on_screen_md"
            >
              Открывает доступ к&nbsp;контенту после оплаты.
              <br class="br br--show-sm br--hide-lg" />Автоматизирует работу
              с&nbsp;клиентами.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section page-section_order_3">
      <div class="page-section__container">
        <h2 class="text text_type_title.level_1">
          Вам не&nbsp;нужен свой&nbsp;сайт,
          <br class="br br--show-xs" />чтобы&nbsp;принимать платежи.
        </h2>
        <div>
          <p class="text text_level_1 text_display_inline.on_screen_sm">
            Больше не&nbsp;нужно тратить время и&nbsp;деньги на&nbsp;свой сайт.
          </p>
          <br class="br br--show-lg" />
          <p class="text text_level_1 text_display_inline.on_screen_sm">
            Принимайте оплату в&nbsp;Instagram*, в любых соцсетях или
            месенджерах.
          </p>
          <br class="br br--show-lg" />
          <p class="text text_level_1 text_display_inline.on_screen_sm">
            Сообщения об&nbsp;оплате будут приходить сразу
            на&nbsp;ваш&nbsp;телефон.
          </p>
        </div>
        <div class="page-section__row">
          <div class="page-section__col page-section__col_with_media">
            <BaseImage
              src="instagram-page/messengers"
              :breakpoints="{ xs: true, lg: true }"
            />
          </div>
          <div class="page-section__col">
            <h3 class="text text_type_title.level_3">
              Ссылка в&nbsp;профиле Instagram*
            </h3>
            <p
              class="text text_level_3 text_mgb_60.on_screen_md text_mgb_34.on_screen_lg text_mgb_60.on_screen_xl"
            >
              Разместите ссылку в&nbsp;вашем профиле Instagram*.
              <br class="br br--show-sm br--hide-lg br--show-xl" />
              Все клиенты смогут оплачивать ваши товары и&nbsp;услуги.
            </p>
            <h3 class="text text_type_title.level_3">
              Оплата в&nbsp;WhatsApp, Telegram, Viber.
            </h3>
            <p
              class="text text_level_3 text_mgb_60.on_screen_md text_mgb_34.on_screen_lg text_mgb_60.on_screen_xl"
            >
              Отправляйте ссылку на&nbsp;оплату во&nbsp;время общения
              с&nbsp;клиентами через директ, в&nbsp;WhatsApp, Telegram,
              Viber&nbsp;&mdash;
              <br class="br br--show-sm br--hide-lg" />клиенты сразу смогут
              оплатить заказ.
            </p>
            <h3 class="text text_type_title.level_3">Оплата в VK, TikTok.</h3>
            <p
              class="text text_level_3 text_mgb_60.on_screen_md text_mgb_34.on_screen_lg text_mgb_60.on_screen_xl"
            >
              Разместите ссылку в&nbsp;ваших группах в&nbsp;любых соцсетях,
              например VK или TikTok. Принимайте оплату без&nbsp;границ.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section
      class="page-section page-section_order_4 page-section_skew_inverse"
    >
      <div class="page-section__container">
        <BaseIcon
          name="cashbox-size-lg"
          width="122"
          height="120"
          color="blue"
          size="lg"
          bottom-space="xl"
        />
        <h2 class="text text_type_title.level_1">
          Онлайн касса бесплатно. <br class="br br--show-xs" />Свою кассу
          покупать не&nbsp;нужно.
        </h2>
        <div>
          <p class="text text_level_1 text_display_inline.on_screen_sm">
            Вы&nbsp;получаете полностью готовую к&nbsp;работе
            <br class="br br--show-sm br--hide-md" />онлайн кассу ArsenalPay.
          </p>
          <br class="br br--show-lg" />
          <p class="text text_level_1 text_display_inline.on_screen_sm">
            В&nbsp;соответствии с&nbsp;54&nbsp;-&nbsp;ФЗ.
          </p>
        </div>
        <div class="page-section__prompt">
          <BasePrompt color="blue" :full-width="true">
            <p class="text text_in_prompt text_mgb_no.on_screen_md">
              Не&nbsp;нужно покупать свою кассу и&nbsp;фискальный накопитель.
            </p>
            <p class="text text_in_prompt text_mgb_no.on_screen_md">
              Не&nbsp;нужно заключать договор с&nbsp;ОФД и&nbsp;регистрировать
              кассу в&nbsp;налоговой.
            </p>
            <p class="text text_in_prompt">
              Не&nbsp;нужно вручную пробивать чеки и&nbsp;отправлять
              их&nbsp;клиенту.
            </p>
          </BasePrompt>
        </div>
        <div class="page-section__row">
          <div class="page-section__col">
            <BaseImage
              src="instagram-page/widget-dashboard"
              width="350"
              height="724"
            ></BaseImage>
          </div>
          <div class="page-section__col">
            <h3 class="text text_type_title.level_3">
              Каждая оплата проходит через&nbsp;кассу
            </h3>
            <p
              class="text text_level_3 text_mgb_60.on_screen_md text_mgb_34.on_screen_lg text_mgb_60.on_screen_xl"
            >
              Ваш клиент оплачивает услугу или товар.<br
                class="br br--show-sm"
              />
              Каждая оплата проходит через онлайн кассу&nbsp;ArsenalPay.
            </p>
            <h3 class="text text_type_title.level_3">
              Чек формируется автоматически
            </h3>
            <p
              class="text text_level_3 text_mgb_60.on_screen_md text_mgb_34.on_screen_lg text_mgb_60.on_screen_xl"
            >
              В&nbsp;кассе формируется фискальный чек с&nbsp;данными
              вашего&nbsp;ИП или юрлица. Далее этот чек отправляется через ОФД
              в&nbsp;налоговую автоматически.
            </p>
            <h3 class="text text_type_title.level_3">
              Все чеки сохраняются в&nbsp;личном&nbsp;кабинете
            </h3>
            <p
              class="text text_level_3 text_mgb_34.on_screen_lg text_mgb_22.on_screen_xl"
            >
              Все платежи и&nbsp;чеки сохраняются в&nbsp;вашем личном кабинете.
              Каждый чек можно быстро найти, проверить и&nbsp;распечатать.
            </p>
            <div class="page-section__button">
              <BaseButton
                text-transform="normal"
                icon-position="left"
                :full-width="true"
                @click="showModal()"
              >
                <template #icon>
                  <BaseIcon
                    name="invoice-medium"
                    width="48"
                    height="38"
                  ></BaseIcon>
                </template>
                Пример фискального чека
              </BaseButton>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section page-section_order_5">
      <div class="page-section__container">
        <BaseChip view="pink">Бесплатные чеки по всем заказам</BaseChip>
        <h2 class="text text_type_title.level_1">Web-касса ArsenalPay</h2>
        <p class="text text_level_1">
          Если клиент оплатил заказ наличными, переводом на&nbsp;карту, или
          перечислил деньги на&nbsp;расчётный счёт, вы&nbsp;легко и&nbsp;быстро
          пробьёте чек в&nbsp;личном кабинете. Чеки пробиваются с&nbsp;полной
          номенклатурой, в&nbsp;соответствии с&nbsp;последними изменениями
          54‑ФЗ.
          <br class="br br--show-md br--hide-lg" /><b
            class="text text_color_pink text_weight_bold text_display_inline.on_screen_sm"
            >Чеки&nbsp;бесплатны и&nbsp;без комиссии.</b
          >
          <br class="br br--show-md" />
          Мгновенно отправляются через ОФД в&nbsp;налоговую и&nbsp;на&nbsp;email
          вашего клиента. Теперь у&nbsp;вас будут чеки
          по&nbsp;всем&nbsp;заказам.
        </p>
      </div>
    </section>

    <section class="page-section page-section_order_6">
      <div class="page-section__container">
        <BaseChip view="pink">Бесплатно</BaseChip>
        <h2
          class="text text_type_title.level_1 text_mgb_60 text_mgb_50.on_screen_md"
        >
          Удобные платёжные&nbsp;функции
        </h2>
        <div class="page-section__box page-section__box_type_one">
          <BaseIcon
            name="check-medium"
            width="52"
            height="46"
            color="pink"
            bottom-space="md"
          />
          <h3 class="text text_type_title.level_3 text_lh_32.on_screen_md">
            Выставление счёта
          </h3>
          <p
            class="text text_level_3 text_mgb_60 text_lh_28.on_screen_md text_mgb_80.on_screen_md text_width_full.on_screen_md"
          >
            Счет выставляется в&nbsp;2&nbsp;клика. Просто укажите сумму и полную
            номенклатуру заказа. Отправьте клиенту ссылку на&nbsp;оплату счета.
            Сразу после оплаты клиенту придёт чек, а&nbsp;вам уведомление
            об&nbsp;успешном платеже.
          </p>
          <BaseIcon
            name="apple-pay-medium"
            width="68"
            height="45"
            color="black"
            bottom-space="md"
          />
          <h3 class="text text_type_title.level_3 text_lh_32.on_screen_md">
            Apple Pay
          </h3>
          <p
            class="text text_level_3 text_mgb_60 text_lh_28.on_screen_md text_mgb_80.on_screen_md text_width_full.on_screen_md"
          >
            Apple Pay упростит и ускорит оплату для ваших клиентов.<br
              class="br br--show-sm br--hide-md"
            />
            Им не нужно вводить данные карты, адрес доставки и телефон. Для
            безопасности платёж подтверждается<br class="br br--show-lg" />
            отпечатком пальца — Touch ID, или через распознавание лица — Face
            ID.<br class="br br--show-lg" />
            Отдельно настраивать Apple&nbsp;Pay вам не&nbsp;придётся, все
            заработает сразу.
          </p>
          <BaseIcon
            name="refund-medium"
            width="52"
            height="52"
            color="purple"
            bottom-space="md"
          />
          <h3 class="text text_type_title.level_3 text_lh_32.on_screen_md">
            Возврат платежа
          </h3>
          <p
            class="text text_level_3 text_mgb_60 text_lh_28.on_screen_md text_mgb_80.on_screen_md text_width_full.on_screen_md"
          >
            Вы&nbsp;можете вернуть деньги клиенту в&nbsp;любое время
            в&nbsp;личном кабинете. Возврат можно сделать на&nbsp;всю сумму или
            на&nbsp;часть суммы. Комиссия за&nbsp;возврат платежа
            не&nbsp;взимается.
          </p>
          <BaseIcon
            name="hold-medium"
            width="50"
            height="50"
            color="cyan"
            bottom-space="md"
          />
          <h3 class="text text_type_title.level_3 text_lh_32.on_screen_md">
            Холдирование платежей
          </h3>
          <p
            class="text text_level_3 text_mgb_60 text_lh_28.on_screen_md text_width_full.on_screen_md"
          >
            При оплате деньги на&nbsp;карте клиента временно
            &laquo;замораживаются&raquo;. Эта&nbsp;функция позволяет вам
            проверить наличие товара или услуги, и&nbsp;уже после проверки
            списать &laquo;замороженные&raquo; средства с&nbsp;карты клиента.
            Вы&nbsp;можете списать часть суммы, комиссия за&nbsp;платёж берётся
            только со&nbsp;списанной суммы. При&nbsp;отмене
            &laquo;заморозки&raquo; никакой комиссии вы&nbsp;не&nbsp;платите.
          </p>
        </div>
      </div>
    </section>

    <section class="page-section page-section_order_7 page-section_skew_no">
      <div class="page-section__container">
        <BaseChip view="pink">Бесплатно</BaseChip>
        <h2
          class="text text_type_title.level_1 text_mgb_42 text_mgb_60.on_screen_md"
        >
          Кнопки быстрой связи <br class="br br--show-sm" />WhatsApp, Telegram,
          Viber
        </h2>
        <div class="page-section__row">
          <div class="page-section__col page-section__col_with_media">
            <BaseImage
              src="instagram-page/widget-buttons"
              shadow="md"
              radius="md"
              :breakpoints="{ xs: true, md: true }"
            ></BaseImage>
          </div>
          <div class="page-section__col">
            <h3 class="text text_type_title.level_3">Удобное общение</h3>
            <p class="text text_level_3 text_mgb_40.on_screen_md">
              Удобный способ общения обеспечит больше обращений. Поможет
              увеличить продажи и&nbsp;не&nbsp;терять клиентов.
            </p>
            <h3 class="text text_type_title.level_3">Легко начать диалог</h3>
            <p class="text text_level_3 text_mgb_40.on_screen_md">
              Клиенту достаточно просто нажать на&nbsp;кнопку WhatsApp, Telegram
              или Viber и&nbsp;вам придет готовое первое сообщение. Возможность
              начать&nbsp;диалог в&nbsp;один клик облегчит общение.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section page-section_order_8 page-section_skew_no">
      <div class="page-section__container">
        <BaseChip view="pink">Бесплатно</BaseChip>
        <h2 class="text text_type_title.level_1">
          Мультиссылка.<br class="br br--show-sm" />
          Соберите все важные ссылки&nbsp;вместе.
        </h2>
        <div>
          <p class="text text_level_1 text_display_inline.on_screen_sm">
            Рассказывайте больше о&nbsp;вашем бизнесе, привлекайте
            новых&nbsp;клиентов.
          </p>
          <br class="br br--show-lg" />
          <p
            class="text text_level_1 text_mgb_42 text_display_inline.on_screen_sm"
          >
            Отвечайте на&nbsp;часто задаваемые вопросы.
          </p>
        </div>
        <div class="page-section__row">
          <div class="page-section__col page-section__col_with_media">
            <BaseImage
              src="instagram-page/widget-multilink"
              shadow="md"
              radius="md"
              :breakpoints="{ xs: true, md: true }"
            ></BaseImage>
          </div>
          <div class="page-section__col">
            <h3 class="text text_type_title.level_3">
              Создавайте много ссылок
            </h3>
            <p class="text text_level_3 text_mgb_40.on_screen_md">
              В&nbsp;профиле Instagram* можно добавить только одну ссылку,
              но&nbsp;одной ссылки часто недостаточно, чтобы подробно рассказать
              о&nbsp;своем бизнесе и&nbsp;увеличить продажи.
            </p>
            <h3 class="text text_type_title.level_3">
              Привлекайте больше клиентов
            </h3>
            <p class="text text_level_3 text_mgb_40.on_screen_md">
              Ваши клиенты смогут не&nbsp;только оплачивать заказы,
              но&nbsp;и&nbsp;узнавать об&nbsp;акциях, новых предложениях,
              подробности о&nbsp;товарах, услугах и&nbsp;доставке.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section page-section_order_9 page-section_skew_no">
      <div class="page-section__container">
        <BaseChip view="pink">Бесплатно</BaseChip>
        <h2 class="text text_type_title.level_1">
          Автоматическая email <br class="br br--show-sm br--hide-md" />рассылка
        </h2>
        <div>
          <p class="text text_level_1 text_display_inline.on_screen_sm">
            Без затрат на&nbsp;сервисы рассылок. Никаких настроек
            и&nbsp;интеграций.
          </p>
          <br class="br br--show-md" />
          <p
            class="text text_level_1 text_mgb_42 text_display_inline.on_screen_sm"
          >
            Клиент&nbsp;получает письмо с&nbsp;доступом к&nbsp;контенту после
            оплаты.
          </p>
        </div>
        <div class="page-section__row">
          <div class="page-section__col page-section__col_with_media">
            <BaseImage
              src="instagram-page/widget-email"
              :breakpoints="{ xs: true, sm: true }"
            ></BaseImage>
          </div>
          <div class="page-section__col">
            <h3 class="text text_type_title.level_3">
              Автоматизируйте работу с&nbsp;клиентами
            </h3>
            <p class="text text_level_3 text_mgb_40.on_screen_md">
              Клиент получает письмо с&nbsp;доступом к&nbsp;контенту сразу после
              <br class="br br--show-sm br--hide-lg" />оплаты. Вам&nbsp;больше
              не&nbsp;нужно самим отправлять письма.
            </p>
            <h3 class="text text_type_title.level_3">
              Продавайте доступ к&nbsp;контенту
            </h3>
            <p class="text text_level_3 text_mgb_40.on_screen_md">
              Продавайте курсы, чек листы, билеты, все что угодно. Отправка
              писем происходит сразу после оплаты или в&nbsp;определенный день,
              например, в&nbsp;день начала курса.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section page-section_order_10">
      <div class="page-section__container">
        <div class="page-section__icon">
          <BaseIcon name="rub-big" width="120" height="120" color="green" />
        </div>
        <h2 class="text text_type_title.level_1">Никакой абонентской платы</h2>
        <p class="text text_level_1">
          <BaseLink
            href="https://arsenalpay.ru/blog/lghotnaia-komissiia-dlia-sotsialno/"
            color="blue"
            :blank="true"
            link-in="text"
            >Сниженная комиссия 1%</BaseLink
          >
          при&nbsp;продаже одежды, еды, техники,&nbsp;косметики и др.<br
            class="br br--show-lg"
          />
          Вы&nbsp;платите только за&nbsp;успешные платежи и&nbsp;экономите
          50&nbsp;000&nbsp;₽ в&nbsp;год.<br class="br br--show-lg" />
          <b class="text text_weight_bold text_color_pink text_display_inline">
            Бесплатные опции</b
          >&nbsp;&mdash; онлайн касса, выставление счёта, возврат платежа,
          холдирование платежей, кнопки WhatsApp, Telegram, Viber, мультиссылка,
          автоматическая email&nbsp;рассылка.
        </p>
        <div class="page-section__row">
          <div class="page-section__col">
            <div class="page-section__rate">
              <BaseRateBox count="3">
                <p class="text text_in_rate-box">
                  Комиссия за успешный платёж <br class="br br--show-xs" /><b
                    >от ArsenalPay</b
                  >
                </p>
              </BaseRateBox>
            </div>
            <div class="page-section__rate">
              <BaseRateBox count="2" prefix="+">
                <p class="text text_in_rate-box">
                  Комиссия за успешный платёж <br class="br br--show-xs" /><b
                    >от Visa, Mastercard, Мир, Apple Pay</b
                  >
                </p>
              </BaseRateBox>
            </div>
          </div>
          <div class="page-section__col page-section__col_with_media">
            <BasePrompt color="green">
              <p
                class="text text_in_prompt text_size_lg text_align_center.on_screen_sm"
              >
                У нас нет дополнительных<br />
                комиссий и звездочек в договоре.
              </p>
            </BasePrompt>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section page-section_order_11">
      <div class="page-section__container">
        <h2 class="text text_type_title.level_1">
          Платежи перечисляются <br class="br br--show-sm" />на&nbsp;ваш
          расчётный счёт ежедневно
        </h2>
        <p class="text text_level_1">
          Деньги поступают автоматически на&nbsp;расчётный счёт юрлица,
          ИП&nbsp;или&nbsp;самозанятого. Доступно и
          <BaseLink
            href="https://arsenalpay.ru/blog/mghnoviennoie-zachislieniie-sriedstv-poslie-oplaty/"
            color="blue"
            :blank="true"
            link-in="text"
            >мгновенное зачисление средств.</BaseLink
          >
        </p>
        <div class="page-section__row">
          <div class="page-section__col">
            <BaseIcon
              name="check-circle-medium"
              width="48"
              height="38"
              color="pink"
            />
            <h3 class="text text_type_title.level_3">Без комиссий</h3>
            <p
              class="text text_level_3 text_mgb_48.on_screen_sm text_mgb_42.on_screen_md"
            >
              Никаких скрытых комиссий
              <br class="br br--show-xl" />за&nbsp;вывод на&nbsp;расчётный счёт.
            </p>
          </div>
          <div class="page-section__col">
            <BaseIcon
              name="check-circle-medium"
              width="48"
              height="38"
              color="pink"
            />
            <h3 class="text text_type_title.level_3">Без минимальных сумм</h3>
            <p
              class="text text_level_3 text_mgb_48.on_screen_sm text_mgb_42.on_screen_md"
            >
              Накапливать сумму для <br class="br br--show-xl" />вывода
              не&nbsp;нужно.
            </p>
          </div>
          <div class="page-section__col">
            <BaseIcon
              name="check-circle-medium"
              width="48"
              height="38"
              color="pink"
            />
            <h3 class="text text_type_title.level_3">
              В&nbsp;любой банк России
            </h3>
            <p
              class="text text_level_3 text_mgb_48.on_screen_sm text_mgb_42.on_screen_md"
            >
              Ваш расчётный счёт может <br class="br br--show-xl" />быть
              в&nbsp;любом банке&nbsp;РФ.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section
      class="page-section page-section_order_12 page-section_skew_no-bottom page-section_type_reviews"
    >
      <div class="page-section__container">
        <h2 class="text text_type_title.level_1">Отзывы наших клиентов</h2>
        <p class="text text_level_1">
          Больше отзывов в&nbsp;нашем
          <BaseLink
            href="https://www.instagram.com/arsenal_pay/"
            link-in="text"
            :target="true"
            color="blue"
          >
            Instagram*.</BaseLink
          >
          <br class="br br--show-xs" />Посмотрите
          <BaseLink
            href="https://arsenalpay.ru/pay/"
            link-in="text"
            color="blue"
            >страницы оплаты</BaseLink
          >
          клиентов.
        </p>
        <TheReviewsSlider :reviews="reviews" />
      </div>
    </section>
    <!-- <FiscalReceiptModal :opened="isOpened" @on-close="isOpened = false" /> -->
  </div>
</template>

<script lang="js">

export default {
  data() {
    return {
      isOpened: false,
      reviews: []
    }
  },
  head() {
    return {
      title: "Прием платежей в Instagram* без покупки онлайн кассы теперь и для самозанятых",
      meta: [
        {
          hid: "description", name: "description", content: "Принимайте платежи без переплат за онлайн кассу. Для юрлиц, ИП и самозанятых.\n" +
            "Вам не нужно покупать или брать в аренду кассу. Свой сайт иметь не нужно.\n" +
            "Клиенты смогут оплатить заказ картами или Apple Pay прямо в Instagram*, WhatsApp, VK. * Instagram, признанна в России экстремистской"
        },
        { hid: "twitter:title", name: "twitter:title", content: "ArsenalPay | Прием платежей в Instagram* без покупки онлайн кассы теперь и для самозанятых" },
        {
          hid: "twitter:description", name: "twitter:description", content: "Принимайте платежи без переплат за онлайн кассу. Для юрлиц, ИП и самозанятых.\n" +
            "Вам не нужно покупать или брать в аренду кассу. Свой сайт иметь не нужно. Клиенты смогут оплатить\n" +
            "заказ картами или Apple Pay прямо в Instagram*, WhatsApp, VK. * Instagram, признанна в России экстремистской",
        },
        { hid: "twitter:image", property: "twitter:image", content: "priem-platezhej-v-instagram-tw.png" },
        { hid: "vk:image", property: "vk:image", content: "https://arsenalpay.ru/priem-platezhej-v-instagram-vk.png" },
        { hid: "og:image", property: "og:image", content: "https://arsenalpay.ru/priem-platezhej-v-instagram-fb.png" },
        { hid: "og:image:secure_url", property: "og:image:secure_url", content: "https://arsenalpay.ru/priem-platezhej-v-instagram-fb.png" },
        { hid: "og:image", property: "og:image", content: "https://arsenalpay.ru/priem-platezhej-v-instagram-square.png" },
        { hid: "og:url", property: "og:url", content: "https://arsenalpay.ru/priem-platezhej-v-instagram.html" },
        { hid: "og:title", property: "og:title", content: "ArsenalPay | Прием платежей в Instagram* без покупки онлайн кассы теперь и для самозанятых" },
        {
          hid: "og:description", property: "og:description", content: "Принимайте платежи без переплат за онлайн кассу. Для юрлиц, ИП и самозанятых.\n" +
            "Вам не нужно покупать или брать в аренду кассу. Свой сайт иметь не нужно. Клиенты смогут оплатить\n" +
            "заказ картами или Apple Pay прямо в Instagram*, WhatsApp, VK. * Instagram, признанна в России экстремистской"
        },
      ],
      link: [
        {
          rel: "image_src",
          href: "https://arsenalpay.ru/priem-platezhej-v-instagram-fb.png",
        },
        {
          rel: "canonical",
          href: "https://arsenalpay.ru/priem-platezhej-v-instagram.html",
        },
      ],
    }
  },
  mounted() {
    this.$parent.$emit("pageLoad", 'instagram');

    this.reviews = [
      {
        src: 'logo-olgkosmetolog',
        name: '@olgkosmetolog',
        title:
          "<i style='margin-right: 12px;'>👩</i>Косметолог Ольга Петрунина<br /><i style='margin-right: 12px;'>🏆</i>Косметолог года 2018",
        text:
          'Мои подписчики со&nbsp;всего мира смогли купить чек лист с&nbsp;обзором средств по&nbsp;домашнему уходу с&nbsp;помощью\n' +
          'ArsenalPay. Нам очень быстро настроили email рассылку, все работало автоматически, подписчики получали чек листы после оплаты.\n' +
          'С&nbsp;кассой тоже отлично получилось, спасибо моему бухгалтеру за&nbsp;совет подключиться к&nbsp;вам.',
        link: {
          href: 'https://arsenalpay.ru/pay/olgkosmetolog',
          text: 'Страница оплаты',
        },
      },
      {
        src: 'logo-dontsleep-studio',
        name: '@dontsleep.studio',
        title:
          "<i style='margin-right: 8px;'>📸</i>Фотостудия Don&rsquo;t Sleep 500&nbsp;кв.&nbsp;метров&nbsp;пространства для вашего&nbsp;творчества.",
        text:
          'Наши клиенты часто бронируют студию через Instagram*, теперь они могут сразу оплатить бронь. Давно хотели подключить онлайн\n' +
          'оплату, но&nbsp;почти везде нужно иметь сайт. ArsenalPay работает с&nbsp;клиентами без сайта, как нам и&nbsp;нужно.\n' +
          'Очень удобно, что кассу не&nbsp;пришлось оформлять. Кнопкой WhatsApp клиенты активно пользуются.',
        link: {
          href: 'https://arsenalpay.ru/pay/dontsleep.studio',
          text: 'Страница оплаты',
        },
      },
      {
        src: 'logo-protapki',
        name: '@protapki',
        title: "<i style='margin-right: 8px;'>🌸</i>Продажа обуви бренда CEYO",
        text:
          'Мы&nbsp;дали возможность совершать спонтанные покупки наших тапок и&nbsp;сандалий с&nbsp;анатомической стелькой напрямую\n' +
          'в&nbsp;Инстаграм*. Очень помогло, что не&nbsp;пришлось покупать свою онлайн-кассу и&nbsp;все чеки отправляются покупателям автоматически.\n' +
          'Оплату разместили у&nbsp;себя в&nbsp;профиле, получилось удобно, клиенты всегда находят.',
        link: {
          href: 'https://arsenalpay.ru/pay/protapki',
          text: 'Страница оплаты',
        },
      },
    ];
  },
  methods: {
    showModal() {
      this.isOpened = true;
    }
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@mixin row-top-widget() {
  position: relative;
  margin-top: 68px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media-breakpoint-up(lg) {
    display: grid;
    grid-template-columns: 388px 400px;
    grid-column-gap: 22px;
    width: auto;
    align-items: start;
    text-align: left;
  }

  @include media-breakpoint-up(xl) {
    grid-template-columns: 617px 400px;
    grid-column-gap: 80px;
  }

  @include media-breakpoint-up(xxxl) {
    grid-column-gap: 110px;
    left: -85px;
  }
}

@mixin col-top-widget() {
  &:first-child {
    margin-left: -3px;

    @include media-breakpoint-up(lg) {
      position: absolute;
      top: 0;
      left: -9px;
      z-index: var(--layer-2);
      margin-left: 0;
    }

    @include media-breakpoint-up(xl) {
      left: 5px;
    }
  }

  &:last-child {
    @include media-breakpoint-up(lg) {
      position: relative;
      left: -5px;
      padding-top: 68px;
      grid-column: 2 / 3;
      align-items: start;
    }

    @include media-breakpoint-up(xl) {
      left: -5px;
    }
  }
}

.page {
  width: 100%;
  overflow: hidden;

  @include media-breakpoint-up(sm) {
    overflow: unset;
  }
}

.page-section {
  @include media-breakpoint-up(sm) {
    text-align: center;
    align-items: center;
  }
}

.page-section_order_1 {
  background-color: var(--color-bg-purple);

  &::before {
    top: -90px;
    transform: unset;
  }

  .page-section__container {
    padding-top: 50px;
    padding-bottom: 148px;

    @include media-breakpoint-up(md) {
      padding-bottom: 157px;
    }

    @include media-breakpoint-up(lg) {
      padding-top: 60px;
      padding-bottom: 150px;
    }
  }

  .page-section__row {
    @include row-top-widget();

    @include media-breakpoint-up(sm) {
      margin-top: 80px;
    }
  }

  .page-section__col {
    @include col-top-widget();

    margin-bottom: 2px;

    picture.img {
      width: 388px;
      height: 1170px;

      @include media-breakpoint-up(xl) {
        width: 617px;
        height: 996px;
      }
    }
  }

  // .page-section__notice {
  //   @include media-breakpoint-up(xl) {
  //     margin-left: -40px;
  //   }
  // }

  .page-section__button {
    @include media-breakpoint-up(sm) {
      margin-top: 20px;
    }

    // @include media-breakpoint-up(xl) {
    //   left: -20px;
    // }
  }
}

.page-section_order_2 {
  background-color: var(--color-bg-pink-light);

  .page-section__container {
    top: -16px;
    padding-top: 0;
    padding-bottom: 113px;

    @include media-breakpoint-up(md) {
      top: 0;
      padding-top: 2px;
      padding-bottom: 128px;
    }

    @include media-breakpoint-up(lg) {
      top: -50px;
      padding-bottom: 118px;
    }
  }

  .page-section__row {
    @include row-top-widget();

    margin-top: 0;
  }

  .page-section__col {
    @include col-top-widget();

    &:last-child {
      @include media-breakpoint-up(lg) {
        padding-top: 66px;
      }
    }
  }
}

.page-section_order_3 {
  .page-section__container {
    padding-top: 40px;
    padding-bottom: 205px;

    @include media-breakpoint-up(sm) {
      padding-bottom: 206px;
    }

    @include media-breakpoint-up(md) {
      padding-top: 80px;
      padding-bottom: 235px;
    }

    @include media-breakpoint-up(lg) {
      padding-top: 84px;
      padding-bottom: 182px;
      align-items: center;
    }

    @include media-breakpoint-up(xl) {
      padding-top: 80px;
    }
  }

  .page-section__row {
    @include media-breakpoint-up(lg) {
      margin-top: 92px;
      display: grid;
      grid-template-columns: 352px 400px;
      grid-column-gap: 31px;
    }

    @include media-breakpoint-up(xl) {
      margin-top: 61px;
      grid-template-columns: 342px 520px;
      grid-column-gap: 36px;
    }

    @include media-breakpoint-up(xxxl) {
      left: 78px;
      grid-column-gap: 66px;
    }
  }

  .page-section__col {
    @include media-breakpoint-up(lg) {
      align-items: start;
      text-align: left;
    }

    &:first-child {
      margin-top: 26px;
      margin-bottom: 7px;

      @include media-breakpoint-up(sm) {
        margin-top: 41px;
        align-items: center;
      }

      @include media-breakpoint-up(lg) {
        margin-top: 0;
      }

      picture.img {
        position: relative;
        align-self: center;

        width: 313px;
        height: 191px;

        @include media-breakpoint-up(lg) {
          width: 287px;
          height: 579px;
        }
      }
    }

    &:last-child {
      @include media-breakpoint-up(lg) {
        padding-top: 30px;
        text-align: left;
      }

      @include media-breakpoint-up(xl) {
        padding-top: 44px;
      }
    }
  }
}

.page-section_order_4 {
  background-color: var(--color-bg-blue-light);

  .page-section__container {
    padding-top: 40px;
    padding-bottom: 180px;

    @include media-breakpoint-up(sm) {
      padding-bottom: 200px;
      align-items: center;
    }

    @include media-breakpoint-up(md) {
      padding-top: 39px;
      padding-bottom: 250px;
    }

    @include media-breakpoint-up(lg) {
      padding-top: 64px;
      padding-bottom: 91px;
    }

    @include media-breakpoint-up(xl) {
      padding-bottom: 88px;
    }

    @include media-breakpoint-up(xxl) {
      padding-bottom: 100px;
    }

    @include media-breakpoint-up(xxxl) {
      padding-bottom: 70px;
    }
  }

  .page-section__prompt {
    margin-top: 30px;
    margin-bottom: 58px;
    max-width: 320px;

    @include media-breakpoint-up(sm) {
      margin-top: 33px;
    }

    @include media-breakpoint-up(md) {
      margin-top: 51px;
      max-width: 646px;
    }
  }

  .page-section__button {
    top: -2px;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 430px;

    @include media-breakpoint-up(lg) {
      top: -11px;
      margin-right: 0;
      margin-left: 0;
    }

    @include media-breakpoint-up(xl) {
      top: 0;
    }
  }

  .page-section__row {
    position: relative;
    width: 100%;

    @include media-breakpoint-up(lg) {
      display: grid;
      grid-template-columns: 350px 430px;
      grid-column-gap: 40px;
    }

    @include media-breakpoint-up(xl) {
      // left: -17px;
      grid-template-columns: 350px 520px;
      grid-column-gap: 84px;
    }

    @include media-breakpoint-up(xxxl) {
      left: 64px;
      grid-column-gap: 118px;
    }
  }

  .page-section__col {
    &:first-child {
      display: none;
      height: 724px;

      @include media-breakpoint-up(lg) {
        display: block;
      }

      picture.img {
        width: 350px;
        height: 724px;
      }
    }

    &:last-child {
      display: flex;
      flex-direction: column;

      @include media-breakpoint-up(sm) {
        align-items: center;
      }

      @include media-breakpoint-up(lg) {
        padding-top: 68px;
        align-items: start;
        text-align: left;
      }
    }
  }
}

.page-section_order_5 {
  background-color: var(--color-bg-pink-light);

  .page-section__container {
    padding-top: 11px;
    padding-bottom: 177px;

    @include media-breakpoint-up(sm) {
      padding-bottom: 174px;
    }

    @include media-breakpoint-up(md) {
      padding-top: 52px;
      padding-bottom: 210px;
    }

    @include media-breakpoint-up(lg) {
      margin-top: -33px;
    }

    @include media-breakpoint-up(xl) {
      margin-top: -60px;
    }

    @include media-breakpoint-up(xxl) {
      padding-top: 42px;
    }
  }
}

.page-section_order_6 {
  .page-section__container {
    padding-top: 36px;
    padding-bottom: 60px;

    @include media-breakpoint-up(sm) {
      padding-top: 39px;
    }

    @include media-breakpoint-up(md) {
      padding-top: 80px;
      padding-bottom: 160px;
    }
  }
}

.page-section_order_7,
.page-section_order_8 {
  .page-section__container {
    padding-top: 0;
    padding-bottom: 96px;

    @include media-breakpoint-up(md) {
      padding-bottom: 120px;
    }

    @include media-breakpoint-up(lg) {
      padding-bottom: 117px;
    }

    @include media-breakpoint-up(xl) {
      padding-bottom: 97px;
    }

    @include media-breakpoint-up(xxl) {
      padding-right: 20px;
      padding-left: 20px;
    }
  }

  .page-section__row {
    @include media-breakpoint-up(sm) {
      margin-top: 42px;
    }

    @include media-breakpoint-up(md) {
      margin-top: 60px;
    }
  }

  .page-section__col {
    &:first-child {
      margin-bottom: 42px;

      @include media-breakpoint-up(md) {
        margin-bottom: 60px;
      }
    }

    &:last-child {
      @include media-breakpoint-up(lg) {
        align-items: start;
        text-align: left;
      }
    }
  }
}

.page-section_order_7 {
  .page-section__row {
    @include media-breakpoint-up(sm) {
      margin-top: 0;
    }

    @include media-breakpoint-up(lg) {
      margin-top: 29px;
      display: grid;
      grid-template-columns: 400px 360px;
      grid-column-gap: 60px;
      align-content: center;
    }

    @include media-breakpoint-up(xl) {
      grid-template-columns: 520px 360px;
      grid-column-gap: 80px;
    }

    @include media-breakpoint-up(xxxl) {
      left: 60px;
      grid-column-gap: 120px;
    }
  }

  .page-section__col {
    &:first-child {
      @include media-breakpoint-up(lg) {
        margin-top: 19px;
        order: 2;
      }

      @include media-breakpoint-up(xl) {
        margin-top: 0;
      }

      picture.img {
        width: 320px;
        height: 272px;

        @include media-breakpoint-up(md) {
          width: 360px;
        }
      }
    }

    &:last-child {
      @include media-breakpoint-up(lg) {
        order: 1;
      }

      @include media-breakpoint-up(xl) {
        margin-top: 8px;
      }
    }
  }
}

.page-section_order_8 {
  .page-section__container {
    @include media-breakpoint-up(xl) {
      padding-bottom: 101px;
    }
  }

  .page-section__row {
    @include media-breakpoint-up(lg) {
      margin-top: 90px;
      display: grid;
      grid-template-columns: 360px 400px;
      grid-column-gap: 60px;
      align-content: center;
    }

    @include media-breakpoint-up(xl) {
      grid-template-columns: 360px 520px;
      grid-column-gap: 81px;
    }

    @include media-breakpoint-up(xxxl) {
      left: 60px;
      grid-column-gap: 120px;
    }
  }

  .page-section__col {
    &:first-child {
      picture.img {
        width: 320px;
        height: 332px;

        @include media-breakpoint-up(md) {
          width: 360px;
        }
      }
    }

    &:last-child {
      @include media-breakpoint-up(xl) {
        margin-top: 25px;
      }
    }
  }
}

.page-section_order_9 {
  .page-section__container {
    padding-top: 0;
    padding-bottom: 185px;

    @include media-breakpoint-up(sm) {
      padding-bottom: 132px;
    }

    @include media-breakpoint-up(md) {
      padding-bottom: 240px;
    }

    @include media-breakpoint-up(lg) {
      margin-top: -15px;
      padding-bottom: 159px;
    }

    @include media-breakpoint-up(xl) {
      margin-top: -7px;
    }

    @include media-breakpoint-up(xxl) {
      padding-right: 20px;
      padding-left: 20px;
    }

    @include media-breakpoint-up(xxxl) {
      padding-bottom: 185px;
    }
  }

  .page-section__row {
    @include media-breakpoint-up(sm) {
      margin-top: 42px;
    }

    @include media-breakpoint-up(md) {
      margin-top: 60px;
    }

    @include media-breakpoint-up(lg) {
      margin-top: 90px;
      display: grid;
      grid-template-columns: 400px 376px;
      grid-column-gap: 44px;
      align-content: center;
    }

    @include media-breakpoint-up(xl) {
      margin-top: 69px;
      grid-template-columns: 520px 376px;
      grid-column-gap: 65px;
    }

    @include media-breakpoint-up(xxxl) {
      left: 60px;
      grid-column-gap: 103px;
    }
  }

  .page-section__col {
    &:first-child {
      position: relative;
      margin-bottom: 42px;

      @include media-breakpoint-up(md) {
        margin-bottom: 60px;
      }

      @include media-breakpoint-up(lg) {
        margin-bottom: 90px;
        order: 2;
      }

      picture.img {
        width: 376px;
        height: 305px;
      }
    }

    &:last-child {
      @include media-breakpoint-up(lg) {
        align-items: start;
        text-align: left;
        order: 1;
      }

      @include media-breakpoint-up(xl) {
        padding-top: 25px;
      }
    }
  }
}

.page-section_order_10 {
  background-color: var(--color-bg-green-light);

  .page-section__container {
    padding-top: 10px;
    padding-bottom: 257px;

    @include media-breakpoint-up(md) {
      padding-top: 14px;
      padding-bottom: 327px;
    }

    @include media-breakpoint-up(lg) {
      padding-top: 45px;
      padding-bottom: 260px;
    }
  }

  .page-section__row {
    margin-top: 15px;
    max-width: 820px;

    @include media-breakpoint-up(lg) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-content: center;
      grid-column-gap: 55px;
    }

    @include media-breakpoint-up(md) {
      margin-top: 33px;
    }

    .page-section__col {
      &:first-child {
        margin-bottom: 42px;

        @include media-breakpoint-up(md) {
          margin-bottom: 28px;
          padding-left: 40px;
        }

        @include media-breakpoint-up(lg) {
          margin-bottom: 0;
          padding-left: 46px;
        }
      }

      &:last-child {
        text-align: center;

        @include media-breakpoint-up(md) {
          padding-top: 25px;
        }
      }
    }
  }

  .page-section__rate {
    &:first-child {
      margin-bottom: 24px;

      @include media-breakpoint-up(md) {
        margin-bottom: 20px;
      }
    }
  }
}

.page-section_order_11 {
  background-color: #e6fae8;

  .page-section__container {
    margin-top: -30px;
    padding-top: 0;
    padding-bottom: 185px;

    @include media-breakpoint-up(sm) {
      padding-bottom: 160px;
    }

    @include media-breakpoint-up(md) {
      padding-top: 40px;
      padding-bottom: 185px;
    }

    @include media-breakpoint-up(lg) {
      padding-top: 60px;
      padding-bottom: 197px;
    }
  }

  .page-section__row {
    position: relative;
    margin-top: 28px;
    margin-left: -12px;
    max-width: 940px;

    @include media-breakpoint-up(sm) {
      margin-left: 0;
      margin-top: 28px;
    }

    @include media-breakpoint-up(md) {
      margin-top: 33px;
    }

    @include media-breakpoint-up(lg) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 20px;
    }

    .page-section__col {
      display: grid;
      grid-template-columns: 48px 280px;
      grid-template-areas:
        'icon title'
        'icon text';
      grid-column-gap: 4px;

      @include media-breakpoint-up(sm) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      svg {
        margin-top: -5px;
        grid-area: icon;

        @include media-breakpoint-up(sm) {
          margin-bottom: 8px;
        }

        @include media-breakpoint-up(md) {
          margin-bottom: 0;
        }

        @include media-breakpoint-up(md) {
          margin-top: 0;
        }
      }

      h3 {
        grid-area: title;
      }

      p {
        grid-area: text;
      }

      &:first-child {
        h3 {
          margin-top: 5px;

          @include media-breakpoint-up(sm) {
            margin-top: 0;
          }
        }

        svg {
          margin-top: 0;
        }
      }
    }
  }
}

.page-section_order_12 {
  .page-section__container {
    padding-top: 31px;
    padding-bottom: 60px;

    @include media-breakpoint-up(md) {
      padding-top: 73px;
    }

    @include media-breakpoint-up(lg) {
      padding-top: 67px;
    }

    @include media-breakpoint-up(xl) {
      padding-top: 63px;
    }
  }
}
</style>
