<template>
  <div>
    <section
      class="page-section page-section_order_1 page-section_skew_inverse page-section_skew_no-top"
    >
      <div class="page-section__container">
        <h1 class="text text_type_title.level_1">Интернет-провайдерам</h1>
        <div class="u-max-width-840.on_screen_lg">
          <p
            class="text text_level_1 text_display_inline.on_screen_sm text_ls_sm"
          >
            Полный пакет платежных сервисов для&nbsp;интернет&nbsp;и&nbsp;ТВ провайдеров.
            <br class="br br--show-lg" />
            <BaseLink
              href="https://arsenalpay.ru/tariffs.html"
              link-in="text"
              color="blue"
              >Сниженный&nbsp;тариф.
            </BaseLink>
          </p>
          <p
            class="text text_level_1 text_display_inline.on_screen_sm text_ls_sm"
          >
            Удобные&nbsp;инструменты для&nbsp;вашей компании и&nbsp;ваших<br
              class="br br--show-lg"
            />
            клиентов.
          </p>
          <p
            class="text text_level_1 text_display_inline.on_screen_sm text_ls_sm"
          >
            Принимайте платежи от&nbsp;клиентов со&nbsp;всего мира картами:<br
              class="br br--show-lg"
            />
            Visa,&nbsp;MasterCard,&nbsp;Мир, Apple&nbsp;Pay.
          </p>
        </div>
        <div class="page-section__button page-section__button_type_top">
          <BaseButton href="https://arsenalpay.ru/dashboard/register?step=1"
            >Подключить</BaseButton
          >
        </div>
      </div>
    </section>

    <section class="page-section page-section_order_2">
      <div class="page-section__container">
        <BaseIcon
          name="kassa-big"
          width="122"
          height="120"
          color="blue"
          bottom-space="xl"
        />
        <h2 class="text text_type_title.level_1">
          Онлайн-касса включена.<br />
          Свою кассу покупать не&nbsp;нужно.
        </h2>
        <div class="u-max-width-840.on_screen_lg">
          <p class="text text_level_1 text_display_inline.on_screen_sm">
            Вы сразу получаете готовую к&nbsp;работе
            <BaseLink
              href="https://arsenalpay.ru/cashbox.html"
              link-in="text"
              color="blue"
            >
              кассу&nbsp;ArsenalPay.</BaseLink
            >
            <br class="br br--show-sm" />
            Никаких расходов на кассу — вы&nbsp;платите только за&nbsp;чеки успешных покупок.
          </p>
          <p class="text text_level_1 text_display_inline.on_screen_sm">
            Все&nbsp;чеки отправляются через ОФД в&nbsp;налоговую автоматически.<br
              class="br br--show-lg"
            />
            Чек&nbsp;отправляется на&nbsp;email клиента сразу&nbsp;после&nbsp;оплаты.
          </p>
        </div>
        <div class="page-section__button">
          <BaseButton
            text-transform="normal"
            icon-position="left"
            :full-width="true"
            @click="showModal()"
          >
            <template #icon>
              <BaseIcon name="invoice-medium" width="48" height="38"></BaseIcon>
            </template>
            Пример фискального чека
          </BaseButton>
        </div>
      </div>
    </section>

    <section class="page-section page-section_order_3">
      <div class="page-section__container">
        <h2 class="text text_type_title.level_1">
          Всё для увеличения конверсии
        </h2>
        <p
          class="text text_level_1 text_ls_sm text_mgb_60 text_mgb_50.on_screen_md text_width_840.on_screen_lg"
        >
          Управление автоплатежами. Запоминание карты. Apple&nbsp;Pay.<br class="br br--show-lg"/>
          Оплата&nbsp;без&nbsp;ввода&nbsp;3DS. Страница&nbsp;при&nbsp;нулевом&nbsp;балансе.
        </p>
        <div
          class="page-section__box page-section__box_type_one u_overflow_hidden.on_screen_md"
        >
          <BaseIcon
            name="autopayment-medium"
            color="green"
            width="48"
            height="53"
            bottom-space="md"
          />
          <h3 class="text text_type_title.level_3 text_lh_32.on_screen_md">
            Автоплатежи
          </h3>
          <p
            class="text text_level_3 text_mgb_60 text_lh_28.on_screen_md text_mgb_80.on_screen_md text_width_740.on_screen_lg"
          >
            Полное управление автоплатежами через&nbsp;API и&nbsp;в&nbsp;личном кабинете. Ваши клиенты смогут
            самостоятельно изменить все настройки автоплатежа, без обращения в&nbsp;поддержку. Сумма автоплатежа
            автоматически меняется при смене тарифа. Также&nbsp;можно изменять периодичность и&nbsp;отключать
            автоплатёж на&nbsp;время.
          </p>
          <BaseIcon
            name="saved-card-medium"
            color="purple"
            width="62"
            height="46"
            bottom-space="md"
          />
          <h3 class="text text_type_title.level_3 text_lh_32.on_screen_md">
            Запоминание карты
          </h3>
          <p
            class="text text_level_3 text_mgb_60 text_lh_28.on_screen_md text_mgb_80.on_screen_md text_width_740.on_screen_lg"
          >
            Функция позволяет совершать оплату в&nbsp;1&nbsp;клик. Увеличивает процент успешных платежей.
            Уже 60%&nbsp;пользователей сохраняют свои карты, и&nbsp;доверие с&nbsp;каждым годом только растет.
          </p>
          <BaseIcon
            name="apple-pay-medium"
            color="black"
            width="68"
            height="45"
            bottom-space="md"
          />
          <h3 class="text text_type_title.level_3 text_lh_32.on_screen_md">
            Apple Pay
          </h3>
          <p class="text text_level_3 text_mgb_60 text_lh_28.on_screen_md text_mgb_80.on_screen_md text_width_740.on_screen_lg">
            Apple Pay упростит и&nbsp;ускорит оплату для ваших клиентов. Им&nbsp;не&nbsp;нужно вводить данные карты,
            адрес доставки и&nbsp;телефон. Для&nbsp;безопасности платёж подтверждается<br class="br br--show-lg" />
            отпечатком пальца — Touch&nbsp;ID, или через распознавание лица — Face&nbsp;ID.<br class="br br--show-lg" />
            Отдельно настраивать Apple&nbsp;Pay вам не&nbsp;придётся, все заработает сразу.
          </p>

          <BaseIcon
            name="3ds-medium"
            color="pink"
            width="52"
            height="52"
            bottom-space="md"
          />
          <h3 class="text text_type_title.level_3 text_lh_32.on_screen_md">
            Оплата без 3DS
          </h3>
          <p
            class="text text_level_3 text_mgb_60 text_lh_28.on_screen_md text_mgb_80.on_screen_md text_width_740.on_screen_lg"
          >
            Функция позволяет настраивать лимиты на&nbsp;сумму платежа, при которых можно не&nbsp;запрашивать код подтверждения
            оплаты 3DS. Пользователям не&nbsp;нужно вводить 3DS, оплата становится быстрее и&nbsp;удобнее. Количество
            успешных платежей увеличивается.
          </p>
          <BaseIcon
            name="pay-medium"
            color="cyan"
            width="45"
            height="53"
            bottom-space="md"
          />
          <h3 class="text text_type_title.level_3 text_lh_32.on_screen_md">
            Страница при нуле
          </h3>
          <p
            class="text text_level_3 text_mgb_60 text_lh_28.on_screen_md text_mgb_80.on_screen_md text_width_740.on_screen_lg"
          >
            Виджет оплаты можно легко встроить на&nbsp;страницу, которая информирует о&nbsp;нулевом балансе.
            Клиенты смогут оплачивать услуги без дополнительной авторизации даже при отрицательном балансе.
            Если у&nbsp;вашего сервиса нет такой страницы, мы&nbsp;сделаем&nbsp;ее&nbsp;для&nbsp;вас.
          </p>
          <div class="page-section__box-wrap">
            <BaseIcon
              name="api-medium"
              color="purple"
              width="52"
              height="52"
              bottom-space="md"
            />
            <h3 class="text text_type_title.level_3 text_lh_32.on_screen_md">
              ArsenalPay API
            </h3>
            <p
              class="text text_level_3 text_mgb_60 text_lh_28.on_screen_md text_mgb_80.on_screen_md text_width_740.on_screen_lg"
            >
              Все платёжные функции доступны через&nbsp;API.<br
                class="br br--show-lg"
              />
              Гибкое управление платежами в&nbsp;любом биллинге.
              <BaseLink
                href="https://arsenalpay.ru/documentation/index.html#api"
                link-in="text"
                color="blue"
              >Протестируйте наше&nbsp;API.</BaseLink>
            </p>

            <BaseIcon
              name="3ds-medium"
              color="pink"
              width="52"
              height="52"
              bottom-space="md"
            />
            <h3 class="text text_type_title.level_3 text_lh_32.on_screen_md">
              IP-адреса 3DS страниц банков
            </h3>
            <p class="text text_level_3 text_mgb_60 text_lh_28.on_screen_md text_width_740.on_screen_lg">
              Мы предоставляем API для получения актуального списка IP-адресов 3DS страниц банков.
              Что позволяет совершать оплату даже при закрытом доступе в&nbsp;интернет.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section page-section_order_4">
      <div class="page-section__container">
        <BaseIcon
          name="widget-big"
          width="84"
          height="106"
          color="purple"
          bottom-space="xl"
        />
        <h2 class="text text_type_title.level_1">
          Функциональный виджет<br class="br br--show-sm" />
          с простой интеграцией
        </h2>
        <p class="text text_level_1 text_ls_sm text_mgb_80 text_width_840.on_screen_lg">
          Виджет легко
          <BaseLink
            href="https://arsenalpay.ru/documentation/index.html#platezhnyj-vidzhet"
            link-in="text"
            color="blue"
          >устанавливается</BaseLink
          >
          не&nbsp;только на&nbsp;сайте, но&nbsp;и&nbsp;в&nbsp;личном кабинете, на&nbsp;странице при&nbsp;нуле или&nbsp;в&nbsp;приложении.
          Виджет уже интегрирован<br class="br br--show-lg" /> с&nbsp;биллингами Гидра&nbsp;и&nbsp;Felix.
        </p>
        <div class="page-section__row">
          <div class="page-section__col">
            <BaseImage
              src="providers-page/widget-providers"
              :breakpoints="{ sm: true }"
            ></BaseImage>
          </div>
          <div class="page-section__col">
            <h3 class="text text_type_title.level_3">Виджет оплаты</h3>
            <p
              class="text text_level_3 text_mgb_60 text_mgb_86.on_screen_lg text_mgb_60.on_screen_xl"
            >
              <BaseLink
                href="https://arsenalpay.ru/customization/"
                link-in="text"
                color="blue"
                >Цвета виджета</BaseLink
              >
              настраиваются под ваш сайт.<br class="br br--show-sm" />
              Все варианты оплаты на&nbsp;одном виджете.
              <br class="br br--show-sm" />Виджет адаптируется под любые
              устройства.
            </p>

            <BaseIcon
              name="security-medium"
              width="38"
              height="48"
              color="pink"
            />
            <h3 class="text text_type_title.level_3">Безопасность</h3>
            <p class="text text_level_3">
              Безопасная обработка данных карт<br class="br br--show-sm" />
              по&nbsp;стандарту PCI&nbsp;DSS&nbsp;3.2&nbsp;level&nbsp;1.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section page-section_order_5">
      <div class="page-section__container">
        <div class="page-section__icon">
          <BaseIcon name="app-big" width="116" height="116" color="purple" />
        </div>
        <h2 class="text text_type_title.level_1">
          Android + iPhone приложения
        </h2>
        <p class="text text_level_1 text_ls_sm text_mgb_80 text_width_840.on_screen_lg">
          Приложение в фирменном стиле вашей компании. Удобно для клиентов и&nbsp;выгодно для вашего бизнеса.
          Отправка push-уведомлений вместо СМС
          <br class="br br--show-lg" /><b
          class="text text_color_purple text_weight_bold text_display_inline">экономит от&nbsp;500&nbsp;000&nbsp;₽&nbsp;в&nbsp;год.</b>
        </p>
        <div class="page-section__row">
          <div class="page-section__col">
            <BaseImage
              src="providers-page/widget-providers-mobile"
              :breakpoints="{ lg: true }"
            ></BaseImage>
          </div>
          <div class="page-section__col">
            <BaseIcon
              name="settings-medium"
              width="74"
              height="62"
              color="purple"
            />
            <b class="text text_type_title.level_3 text_size_lg.on_screen_sm"
              >Клиент сможет</b
            >
            <ul class="page-section__list">
              <li>
                <BaseIcon
                  name="check-list-small"
                  width="48px"
                  height="38px"
                  color="green"
                />
                <p
                  class="text text_level_3 text_lh_32 text_mgb_no text_increase_no.on_screen_md"
                >
                  Узнавать и пополнять баланс.
                </p>
              </li>
              <li>
                <BaseIcon
                  name="check-list-small"
                  width="48px"
                  height="38px"
                  color="green"
                />
                <p
                  class="text text_level_3 text_lh_32 text_mgb_no text_increase_no.on_screen_md"
                >
                  Вовремя получать уведомления о&nbsp;низком балансе.
                </p>
              </li>
              <li>
                <BaseIcon
                  name="check-list-small"
                  width="48px"
                  height="38px"
                  color="green"
                />
                <p
                  class="text text_level_3 text_lh_32 text_mgb_no text_increase_no.on_screen_md"
                >
                  Оплачивать по карте и со счёта телефона.
                </p>
              </li>
              <li>
                <BaseIcon
                  name="check-list-small"
                  width="48px"
                  height="38px"
                  color="green"
                />
                <p
                  class="text text_level_3 text_lh_32 text_mgb_no text_increase_no.on_screen_md"
                >
                  Сохранять карту и оплачивать в&nbsp;1&nbsp;клик.
                </p>
              </li>
              <li>
                <BaseIcon
                  name="check-list-small"
                  width="48px"
                  height="38px"
                  color="green"
                />
                <p
                  class="text text_level_3 text_lh_32 text_mgb_no text_increase_no.on_screen_md"
                >
                  Самостоятельно управлять автоплатежами.
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section page-section_order_6">
      <div class="page-section__container">
        <h2 class="text text_type_title.level_1">Никакой абонентской платы</h2>
        <p class="text text_level_1 text_mgb_50 text_width_840.on_screen_lg">
          Вы платите только за успешные платежи.<br class="br br--show-md" />
          Без дополнительных комиссий и&nbsp;звёздочек в договоре.
        </p>
        <div class="page-section__box">
          <b class="text text_type_title.level_2 text_mgb_no"
            >Приём платежей картами всех стран мира</b>
          <p class="text text_level_2">Visa, MasterCard, Мир, Apple Pay.</p>
          <div class="page-section__row page-section__row_type_rates">
            <BaseRateBox count="2.2" size="sm">
              <p class="text text_level_2 text_lh_24 text_mgb_no.on_screen_sm">
                За успешный платёж
              </p>
            </BaseRateBox>
            <BaseRateBox count="0.2" prefix="+" :prefix-inline="true" size="sm">
              <p class="text text_level_2 text_lh_24 text_mgb_no">
                За онлайн чек платежа
              </p>
            </BaseRateBox>
          </div>
          <b class="text text_type_title.level_2">Сюда включено</b>
          <div class="page-section__row page-section__row_type_cards">
            <div class="page-section__col">
              <BaseIcon
                name="input-cashier"
                width="48"
                height="38"
                color="blue"
              />
              <p class="text text_level_2 text_mgb_no">
                <BaseLink
                  href="https://arsenalpay.ru/cashbox.html"
                  link-in="text"
                  color="blue"
                  >Онлайн касса ArsenalPay
                </BaseLink>
              </p>
              <BaseIcon
                name="input-invoice"
                width="48"
                height="38"
                color="blue"
              />
              <p class="text text_level_2 text_lh_32 text_mgb_no">
                Выставление счёта
              </p>
              <BaseIcon
                name="check-list-small"
                width="48"
                height="38"
                color="blue"
              />
              <p class="text text_level_2 text_lh_32 text_mgb_no text_ls_no">
                Оплата без 3D Secure
              </p>
            </div>
            <div
              class="page-section__col page-section__col_order_last.on_screen_md"
            >
              <BaseIcon
                name="input-apple"
                width="48"
                height="38"
                color="blue"
              />
              <p class="text text_level_2 text_lh_32 text_mgb_no">Apple Pay</p>
              <BaseIcon
                name="input-save-card"
                width="48"
                height="38"
                color="blue"
              />
              <p class="text text_level_2 text_lh_32 text_mgb_no">
                Запоминание карты
              </p>
              <BaseIcon
                name="autopayment-small"
                width="48"
                height="38"
                color="blue"
              />
              <p class="text text_level_2 text_lh_32 text_mgb_no">
                Автоплатежи
              </p>
            </div>
            <div class="page-section__col">
              <BaseIcon name="input-page" width="48" height="38" color="blue" />
              <p class="text text_level_2 text_lh_32 text_mgb_no">
                Страница при нуле
              </p>
              <BaseIcon
                name="input-refund"
                width="48"
                height="38"
                color="blue"
              />
              <p class="text text_level_2 text_lh_32 text_mgb_no">
                Возврат платежа
              </p>
              <BaseIcon name="input-api" width="48" height="38" color="blue" />
              <p class="text text_level_2 text_lh_32 text_mgb_no">
                Интеграция по API
              </p>
            </div>
          </div>
          <b class="text text_type_title.level_2">Бесплатно</b>
          <div class="page-section__row page-section__row_hide_lg">
            <div class="page-section__col">
              <BaseIcon
                name="check-list-small"
                width="48"
                height="38"
                color="pink"
              />
              <p class="text text_level_2 text_lh_32 text_mgb_no">
                Подключение
              </p>
              <BaseIcon
                name="check-list-small"
                width="48"
                height="38"
                color="pink"
              />
              <p class="text text_level_2 text_lh_32 text_mgb_no text_ls_no">
                Пользование кассой
              </p>
              <BaseIcon
                name="check-list-small"
                width="48"
                height="38"
                color="pink"
              />
              <p class="text text_level_2 text_lh_32 text_mgb_no text_ls_no">
                Техподдержка
              </p>
            </div>
            <div class="page-section__col">
              <BaseIcon
                name="check-list-small"
                width="48"
                height="38"
                color="pink"
              />
              <p class="text text_level_2 text_lh_32 text_mgb_no text_ls_no">
                Свой менеджер
              </p>
              <BaseIcon
                name="check-list-small"
                width="48"
                height="38"
                color="pink"
              />
              <p class="text text_level_2 text_lh_32 text_mgb_no text_ls_no">
                Личный кабинет
              </p>
            </div>
          </div>
          <div class="page-section__row page-section__row_show_lg">
            <div class="page-section__col">
              <BaseIcon
                name="check-list-small"
                width="48"
                height="38"
                color="pink"
              />
              <p class="text text_level_2 text_lh_32 text_mgb_no">
                Подключение
              </p>
              <BaseIcon
                name="check-list-small"
                width="48"
                height="38"
                color="pink"
              />
              <p class="text text_level_2 text_lh_32 text_mgb_no text_ls_no">
                Пользование кассой
              </p>
            </div>
            <div class="page-section__col">
              <BaseIcon
                name="check-list-small"
                width="48"
                height="38"
                color="pink"
              />
              <p class="text text_level_2 text_lh_32 text_mgb_no text_ls_no">
                Техподдержка
              </p>
              <BaseIcon
                name="check-list-small"
                width="48"
                height="38"
                color="pink"
              />
              <p class="text text_level_2 text_lh_32 text_mgb_no text_ls_no">
                Свой менеджер
              </p>
            </div>
            <div class="page-section__col">
              <BaseIcon
                name="check-list-small"
                width="48"
                height="38"
                color="pink"
              />
              <p class="text text_level_2 text_lh_32 text_mgb_no text_ls_no">
                Личный кабинет
              </p>
            </div>
          </div>
          <div class="page-section__button">
            <BaseButton href="https://arsenalpay.ru/dashboard/register?step=1"
              >Подключить</BaseButton
            >
          </div>
        </div>
      </div>
    </section>

    <section
      class="page-section page-section_order_7 page-section_type_reviews"
    >
      <div class="page-section__container">
        <h2 class="text text_type_title.level_1">Отзывы наших клиентов</h2>
        <TheReviewsSlider :reviews="reviews" />
      </div>
    </section>

    <section class="page-section page-section_order_8 page-section_skew_no">
      <div class="page-section__container">
        <h2
          class="text text_type_title.level_1 text_align_center.on_screen_sm text_mgb_42 text_mgb_52.on_screen_md"
        >
          Вопросы и ответы
        </h2>
        <h3 class="text text_type_title.level_3 text_lh_32.on_screen_md">
          Как интегрировать платёжный виджет?
        </h3>
        <p class="text text_level_3 text_mgb_42.on_screen_md text_width_820.on_screen_lg">
          Вы можете встроить виджет в&nbsp;личный кабинет для ваших пользователей, для этого у&nbsp;нас есть
          готовые модули для биллинговых систем Гидра и&nbsp;Felix. Если вы&nbsp;пользуетесь другим биллингом,
          мы&nbsp;интегрируемся с&nbsp;ним. Платежи можно принимать на&nbsp;вашем сайте или на&nbsp;публичной
          странице при нулевом балансе, в&nbsp;таком случае при оплате клиент указывает в&nbsp;виджете свой лицевой
          счёт и&nbsp;почту для чека.
        </p>

        <h3 class="text text_type_title.level_3 text_lh_32.on_screen_md">
          Как быстро деньги переводятся на счёт и в какой банк?
        </h3>
        <p class="text text_level_3 text_mgb_42.on_screen_md text_width_820.on_screen_lg">
          Расчётный счёт вашей компании может быть открыт в&nbsp;любом банке РФ. Открывать новый счёт не&nbsp;нужно.
          Деньги перечисляются на&nbsp;р/c каждый день автоматически.
        </p>

        <h3 class="text text_type_title.level_3 text_lh_32.on_screen_md">
          На сколько удобно использовать онлайн-кассу ArsenalPay?
        </h3>
        <p class="text text_level_3 text_mgb_42.on_screen_md text_width_820.on_screen_lg">
          Касса ArsenalPay встроена в платежный виджет, её не нужно отдельно интегрировать и&nbsp;настраивать под
          ваши системы. Вся необходимая информация для чеков передаётся при оплате. Чеки автоматически отправляются
          на email клиента. Вам не придётся вносить изменения в чеки при каждом изменении 54-ФЗ, всё это мы делаем сами.
        </p>

        <h3 class="text text_type_title.level_3 text_lh_32.on_screen_md">
          Чеки соответствуют последним изменениям 54-ФЗ?
        </h3>
        <p class="text text_level_3 text_mgb_42.on_screen_md text_width_820.on_screen_lg">
          ММы следим за всеми изменениями 54-ФЗ и&nbsp;оперативно добавляем их&nbsp;в&nbsp;чеки. С&nbsp;1&nbsp;февраля
          2021 года чеки должны содержать полную номенклатуру товаров и&nbsp;услуг. Для интернет провадеров в&nbsp;чеке
          должен быть указан лицевой счёт клиента. В чеках ArsenalPay содержится вся необходимая информация о&nbsp;номенклатуре
          и&nbsp;клиенте.
        </p>
      </div>
    </section>
    <!-- <FiscalReceiptModal :opened="isOpened" @on-close="isOpened = false" /> -->
  </div>
</template>

<script lang="js">
// import { providersReviews } from "@/data/providers/reviews";

export default {
  data() {
    return {
      isOpened: false,
      reviews: []
    }
  },
  head() {
    return {
      title: "Приём платежей для интернет и ТВ провайдеров",
      meta: [
        {
          hid: "description", name: "description", content: "Сниженные тарифы для провайдеров. Не нужно покупать или брать в аренду свою онлайн кассу.\n" +
            "Полная интеграция с биллингом. Оплата в 1 клик, Apple Pay и автоплатежи — самые удобные платежные функции.\n" +
            "Android + iPhone приложения."
        },
        { hid: "twitter:title", name: "twitter:title", content: "ArsenalPay | Приём платежей для интернет и ТВ провайдеров" },
        {
          hid: "twitter:description", name: "twitter:description", content: "Сниженные тарифы для провайдеров. Не нужно покупать или брать в аренду свою онлайн кассу. Полная\n" +
            "интеграция с биллингом. Оплата в 1 клик, Apple Pay и автоплатежи — самые удобные платежные функции. Android + iPhone приложения."
        },
        { hid: "twitter:image", property: "twitter:image", content: "arsenalpay-providers-tw.png" },
        { hid: "vk:image", property: "vk:image", content: "https://arsenalpay.ru/arsenalpay-providers-vk.png" },
        { hid: "og:image", property: "og:image", content: "priem-platezhej-bez-sajta-fb.png" },
        { hid: "og:image:secure_url", property: "og:image:secure_url", content: "https://arsenalpay.ru/arsenalpay-providers-fb.png" },
        { hid: "og:image", property: "og:image", content: "https://arsenalpay.ru/arsenalpay-providers-fb.png" },
        { hid: "og:url", property: "og:url", content: "https://arsenalpay.ru/providers.html" },
        { hid: "og:title", property: "og:title", content: "ArsenalPay | Приём платежей для интернет и ТВ провайдеров" },
        {
          hid: "og:description", property: "og:description", content: "Сниженные тарифы для провайдеров. Не нужно покупать или брать в аренду свою онлайн кассу.\n" +
            "Полная интеграция с биллингом. Оплата в 1 клик, Apple Pay и автоплатежи — самые удобные платежные функции. Android + iPhone приложения."
        },
      ],
      link: [
        {
          rel: "image_src",
          href: "https://arsenalpay.ru/arsenalpay-providers-fb.png",
        },
        {
          rel: "canonical",
          href: "https://arsenalpay.ru/providers.html",
        },
      ],
    }
  },
  mounted() {
    // this.reviews = providersReviews;
  },
  methods: {
    showModal() {
      this.isOpened = true;
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.page-section_order_1 {
  background-color: var(--color-bg-green-light);

  .page-section__container {
    padding-top: 128px;
    padding-bottom: 247px;

    @include media-breakpoint-up(md) {
      padding-top: 167px;
    }
  }

  .page-section__button {
    @include media-breakpoint-up(sm) {
      //margin-top: 36px;
    }

    @include media-breakpoint-up(md) {
      left: -10px;
    }

    @include media-breakpoint-up(xl) {
      left: 0;
    }
  }
}

.page-section_order_2 {
  background-color: var(--color-bg-blue-light);

  .page-section__container {
    padding-top: 61px;
    padding-bottom: 248px;

    @include media-breakpoint-up(md) {
      padding-bottom: 246px;
    }
  }

  .page-section__button {
    margin-right: auto;
    margin-left: auto;
    max-width: 430px;

    @include media-breakpoint-up(xl) {
      max-width: 480px;
    }
  }
}

.page-section_order_3 {
  .page-section__container {
    padding-top: 50px;
    padding-bottom: 230px;
    overflow: hidden;

    @include media-breakpoint-up(sm) {
      padding-bottom: 237px;
    }

    @include media-breakpoint-up(md) {
      padding-top: 72px;
      padding-bottom: 310px;
    }
  }

  .page-section__box-wrap {
    margin-top: 44px;

    @include media-breakpoint-up(sm) {
      margin-top: 85px;
    }
  }

  .page-section__box {
    max-width: 940px;
  }
}

.page-section_order_4 {
  background-color: var(--color-bg-purple-light);

  .page-section__container {
    padding-top: 60px;
    padding-bottom: 236px;

    @include media-breakpoint-up(sm) {
      margin-top: -7px;
    }

    @include media-breakpoint-up(md) {
      margin-top: 0;
    }

    @include media-breakpoint-up(lg) {
      padding-bottom: 172px;
    }
  }

  .page-section__row {
    @include media-breakpoint-up(lg) {
      width: auto;
      display: grid;
      grid-template-columns: 348px 380px;
      grid-column-gap: 72px;
    }

    @include media-breakpoint-up(xl) {
      margin-left: 31px;
      grid-column-gap: 100px;
    }

    @include media-breakpoint-up(xxl) {
      grid-column-gap: 140px;
    }
  }

  .page-section__col {
    --image-width: 320px;

    @include media-breakpoint-up(sm) {
      --image-width: 348px;
    }

    &:first-child {
      @include content-center();

      margin-bottom: 90px;

      @include media-breakpoint-up(sm) {
        margin-bottom: 100px;
      }

      @include media-breakpoint-up(md) {
        margin-bottom: 90px;
      }
    }

    &:last-child {
      & > svg.icon {
        margin-bottom: 16px;

        @include media-breakpoint-up(md) {
          margin-bottom: 12px;
        }
      }

      @include media-breakpoint-up(lg) {
        padding-top: 70px;
        align-items: start;
        text-align: left;
      }

      @include media-breakpoint-up(xl) {
        padding-top: 83px;
      }
    }

    picture.img {
      display: flex;
      justify-content: center;
      align-items: center;
      width: var(--image-width);
      height: 498px;
      background-color: (var(--color-bg-white));
      box-shadow: var(--box-shadow-md);
      border-radius: 54px;
      overflow: hidden;

      @include media-breakpoint-up(sm) {
        height: 502px;
      }

      ::v-deep img {
        width: 280px;
        height: 458px;

        @include media-breakpoint-up(sm) {
          width: 304px;
        }
      }
    }
  }
}

.page-section_order_5 {
  background-color: var(--color-bg-green-light);

  .page-section__container {
    padding-top: 60px;
    padding-bottom: 260px;

    @include media-breakpoint-up(lg) {
      margin-bottom: -120px;
      //padding-right: calc(var(--container-padding-x) - var(--container-cut));
      padding-bottom: 117px;
      overflow: hidden;
    }

    &::before {
      content: '';
      position: absolute;
      bottom: -26px;
      right: 0;
      left: 0;
      z-index: 1;
      height: 26px;
      transform: rotate3d(0, 0, 1, 3deg);
      background-color: var(--color-bg-white);

      @include media-breakpoint-up(lg) {
        bottom: -55px;
        height: 55px;
        transform: rotate3d(0, 0, 1, 5deg);
      }
    }
  }

  .page-section__row {
    @include media-breakpoint-up(lg) {
      margin-left: 18px;
      width: auto;
      display: grid;
      grid-template-columns: 338px 453px;
      grid-column-gap: 47px;
    }

    @include media-breakpoint-up(xl) {
      margin-left: 40px;
      grid-column-gap: 90px;
    }

    @include media-breakpoint-up(xxl) {
      grid-column-gap: 130px;
    }
  }

  .page-section__col {
    --image-width: 338px;

    @include content-center();

    &:first-child {
      position: relative;
      margin-bottom: 90px;
      height: 658px;

      @include media-breakpoint-up(lg) {
        height: 496px;
      }
    }

    &:last-child {
      --shift: 34px;

      @include media-breakpoint-up(lg) {
        padding-top: 100px;
        align-items: start;
        text-align: left;
      }

      & > svg.icon {
        margin-bottom: 16px;

        @include media-breakpoint-up(sm) {
          margin-bottom: 12px;
        }

        @include media-breakpoint-up(lg) {
          margin-left: var(--shift);
        }
      }

      & > b {
        margin-left: var(--shift);
      }
    }

    picture.img {
      display: flex;
      justify-content: center;
      align-items: center;
      width: var(--image-width);
      height: 658px;
      background-color: var(--color-bg-white);
      box-shadow: var(--box-shadow-purple-xl);
      border-radius: 54px;

      @include media-breakpoint-up(lg) {
        height: 496px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      ::v-deep img {
        width: 320px;
        height: 640px;

        @include media-breakpoint-up(lg) {
          height: 480px;
        }
      }
    }
  }

  .page-section__list {
    @include list-clear();

    position: relative;
    left: -16px;
    text-align: left;

    @include media-breakpoint-up(sm) {
      left: -19px;
    }

    //@include media-breakpoint-up(lg) {
    //	left: 0;
    //}

    li {
      position: relative;
      display: grid;
      grid-template-columns: 48px 1fr;
      grid-column-gap: 5px;

      @include media-breakpoint-up(sm) {
        height: 32px;
      }

      &:first-child {
        margin-bottom: -4px;

        @include media-breakpoint-up(sm) {
          margin-bottom: 0;
        }
      }
    }

    svg.icon {
      margin-top: -2px;

      @include media-breakpoint-up(sm) {
        margin-top: -4px;
      }
    }
  }

  //.page-section__shift {
  //  @include media-breakpoint-up(lg) {
  //    left: -8px;
  //  }
  //
  //  @include media-breakpoint-up(xl) {
  //    left: 0;
  //  }
  //}
}

.page-section_order_6 {
  .page-section__container {
    padding-top: 50px;
    padding-bottom: 135px;

    @include media-breakpoint-up(sm) {
      padding-bottom: 145px;
    }

    @include media-breakpoint-up(md) {
      padding-top: 73px;
      padding-bottom: 155px;
    }
  }

  .page-section__box {
    max-width: 820px;
    padding: 56px 20px 44px;
    border-radius: var(--border-radius-lg);
    background-color: var(--color-bg-gray-super-light);
    outline: 1px solid var(--color-stroke-lighten);
    align-items: start;
    text-align: left;
    box-shadow: none;

    @include media-breakpoint-up(sm) {
      padding-right: 40px;
      padding-left: 40px;
      outline: none;
    }
  }

  .page-section__row {
    position: relative;
    left: -15px;
    margin-bottom: 42px;
    display: flex;
    flex-direction: column;
    align-items: start;

    @include media-breakpoint-up(md) {
      display: grid;
      grid-template-columns: repeat(2, 270px);
      grid-column-gap: 36px;
      align-items: start;
    }

    @include media-breakpoint-up(lg) {
      grid-template-columns: 270px repeat(2, 234px);
      grid-column-gap: 9px;
    }

    &_type_rates {
      left: 0;

      @include media-breakpoint-only(sm) {
        display: grid;
        grid-template-columns: repeat(2, 200px);
        grid-column-gap: 36px;
      }
    }

    &_type_cards {
      margin-bottom: 45px;

      @include media-breakpoint-up(md) {
        margin-bottom: 27px;
      }
    }

    &_hide_lg {
      @include media-breakpoint-up(lg) {
        display: none;
      }
    }

    &_show_lg {
      display: none;

      @include media-breakpoint-up(lg) {
        display: grid;
      }
    }
  }

  .page-section__col {
    display: grid;
    grid-template-columns: 48px auto;
    grid-auto-rows: 32px;
    grid-column-gap: 1px;
    align-items: center;

    &[class~='page-section__col_order_last.on_screen_md'] {
      @include media-breakpoint-only(md) {
        order: 1;
      }
    }

    &:not(:last-child) {
      margin-bottom: 18px;
    }

    svg {
      left: -1px;
    }
  }

  .page-section__button {
    margin-top: 8px;
    max-width: 280px;

    @include media-breakpoint-up(md) {
      margin-top: -11px;
    }
  }
}

.page-section_order_7 {
  .page-section__container {
    margin-top: -16px;
    padding-top: 0;

    @include media-breakpoint-up(sm) {
      margin-top: -26px;
    }

    @include media-breakpoint-up(md) {
      margin-top: -36px;
      padding-top: 0;
    }
  }
}

.page-section_order_8 {
  padding-top: 0;

  .page-section__container {
    padding-top: 60px;
    padding-bottom: 95px;
    align-items: start;
    text-align: left;

    @include media-breakpoint-up(md) {
      padding-bottom: 80px;
    }
  }

  //.page-section__shift {
  //  @include media-breakpoint-up(xl) {
  //    margin-left: 71px;
  //  }
  //}
}
</style>
