<template>
  <div class="about">
    <h1>This is an about page</h1>
  </div>
</template>

<script lang="js">
export default {
  head() {
    return {
      title: "Поддержка",
      meta: [
        { hid: "description", name: "description", content: "Ответы на частые вопросы. Вы сможете найти свой чек, проверить данные по платежу, удалить автоплатёж и сохраненную карту, написать нам о своей проблеме." },
        { hid: "twitter:title", name: "twitter:title", content: "ArsenalPay | Поддержка" },
        { hid: "twitter:description", name: "twitter:description", content: "Ответы на частые вопросы. Вы сможете найти свой чек, проверить данные по платежу, удалить автоплатёж и сохраненную карту, написать нам о своей проблеме." },
        { hid: "twitter:image", property: "twitter:image", content: "arsenalpay-support-tw.png" },
        { hid: "vk:image", property: "vk:image", content: "https://arsenalpay.ru/arsenalpay-support-vk.png" },
        { hid: "og:image", property: "og:image", content: "arsenalpay-support-fb.png" },
        { hid: "og:image:secure_url", property: "og:image:secure_url", content: "https://arsenalpay.ru/arsenalpay-support-fb.png" },
        { hid: "og:image", property: "og:image", content: "https://arsenalpay.ru/arsenalpay-support-square.png" },
        { hid: "og:url", property: "og:url", content: "https://arsenalpay.ru/support.html" },
        { hid: "og:title", property: "og:title", content: "ArsenalPay | Поддержка" },
        { hid: "og:description", property: "og:description", content: "Ответы на частые вопросы. Вы сможете найти свой чек, проверить данные по платежу, удалить автоплатёж и сохраненную карту, написать нам о своей проблеме." },
      ],
      link: [
        {
          rel: "image_src",
          href: "https://arsenalpay.ru/arsenalpay-support-fb.png",
        },
        {
          rel: "canonical",
          href: "https://arsenalpay.ru/support.html",
        },
      ],
    }
  },
}
</script>
