<template>
  <article
    class="modal"
    :class="{
      ['modal_is_opened']: opened,
    }"
  >
    <transition name="fade">
      <div v-if="opened" class="modal__body">
        <button type="button" class="modal__close" @click="$emit('onClose')">
          <BaseIcon name="cross" width="12" height="12" color="black" />
        </button>
        <BaseImage
          src="modals/fiscal-receipt"
          :breakpoints="{ md: true }"
        ></BaseImage>
      </div>
    </transition>
  </article>
</template>

<script lang="js">
export default {
	props: {
		opened: Boolean,
	},
}
</script>

<style scoped lang="scss">
.modal {
  .modal__body {
    --modal-height: 1479px;
    --modal-width: 320px;

    padding: 0;
    background-color: #f3f3f3;
    overflow: hidden;

    @include media-breakpoint-up(sm) {
      --modal-height: 1757px;
      --modal-width: 380px;
    }

    @include media-breakpoint-up(md) {
      --modal-height: 1500px;
      --modal-width: 700px;
    }
  }
}
</style>
